.btn {
  font-size: 14px;
  padding: .28rem .75rem;
  font-weight: 500!important;
  text-decoration: none!important;
  transition: background-color .3s;

  svg {
    margin-right: 4px;
  }

  &:focus {
    box-shadow: none!important;
  }
}

.btn-primary {
  color: #fff;

  &:hover {
    color: #fff;
  }
}


.btn-secondary {
  color: #fff;
}

.btn-blue {
  background-color: $blue;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #4282e4;
  }
}

.btn-green {
  background-color: #237830;
  color: #fff;

  &:hover {
    background-color: #2b983c;
    color: #fff;
  }
}

.btn-excel {
  background-color: $excel;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #1f6826;
  }
}

.btn-lg {
  padding: .6rem 1rem .7rem;


  @include media-breakpoint-up(sm) {

    min-width: 236px;
    font-size: 20px;
  }
}

a.text-link {
  display: inline-block;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #fec03a;
    bottom: -10px;
    position: relative;
    opacity: 0;
    transition: all .3s;
  }

  &:hover{
    text-decoration: none;

    &:after {
      opacity: 1;
      bottom: 0;
    }
  }

  &-2 {
    transition: box-shadow .1s ease;

    &:hover{
      text-decoration: none;

      box-shadow: #fec03a 0 2px 0;
    }
  }

  &-blue {
    color: $blue;
  }
}



/////

.btn-md {
  padding: .7rem 1.3rem .8rem;
  line-height: 1.3;
}

.group-action-inline {
  .btn-md {
    margin: 2px 0;
    min-width: 180px;
  }
}



.inline-actions {
  .btn {
    margin-bottom: 4px;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}




