.form-group {
  margin-bottom: 6px;
}

label {
  margin-bottom: 3px;
  margin-top: 6px;
  color: #808796;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.form-control {
  height: calc(1.9em + .75rem + 2px);
}

input::placeholder {
  color: #c0bfbf;
}

.custom-checkbox,
.custom-radio {
  display: flex;
  margin: 0;
  line-height: 1.2;



  input {
    display: none;
  }

}
.custom-checkbox {
  input {
    + i {
      width: 13px;
      min-width: 13px;
      height: 13px;
      border-radius: 2px;
      background: #d7dde6;
      margin-right: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4px;

      &:after{
        opacity: 0;
        content: '';
        display: block;
        width: 5px;
        height: 8px;

        border: solid #fff;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg);
        position: relative;
        top: -1px;

      }


    }

    &:checked + i {

      background-color: $primary;


      &:after {
        opacity: 1;
      }
    }
  }
}
.custom-radio {
  display: flex;
  align-items: center;
  margin: 0;

  input {
    display: none;

    + i {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 100%;
      background: #d7dde6;
      margin-right: 9px;
    }

    &:checked + i {
      background: #fec03a;
      box-shadow: rgba(254, 192, 58, 0.39) 0 0 0 3px;
    }

  }
}


///

.custom-checkbox-2 {
  @extend .custom-checkbox;

  letter-spacing: -.5px;
}

.custom-checkbox-3 {
  @extend .custom-checkbox;

  margin-top: 6px;

  input+i {
    width: 21px;
    min-width: 21px;
    height: 21px;
    margin-top: 0px;
    background: #fff!important;
    border: 1px solid #ced4da;

    &:after {
      width: 7px;
      height: 11px;
      border: solid #d23838;
      border-width: 0 3px 3px 0;
    }
  }

  @include media-breakpoint-up(sm) {

    font-size: 18px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $input-placeholder-color!important;
}



