
.heading-l1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;

  span {
    display: block;
    font-weight: 500;
  }

  @include media-breakpoint-down(sm) {

    line-height: 1.3;
    font-size: 22px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 18px;
  }
}



.heading-l2 {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  max-width: 970px;
  line-height: 1.6;


  h3 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 400;
  }
}



.title-l2 {
  font-size: 28px;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.3;

  @include media-breakpoint-down(sm) {

    font-size: 26px;
  }
  @include media-breakpoint-down(xs) {

    font-size: 22px;
  }
}

.title-l3 {
  color: #2f3542;
  display: block;
  line-height: 1;
  margin-bottom: 13px;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}


.title-l4 {
  color: #2f3542;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    line-height: 1.2;
    font-size: 18px;
  }
}

.title-l5 {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;

  @include media-breakpoint-down(xs) {
    br {
      display: none;
    }
  }
}



////


.lbl-l5 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  opacity: .6;
  letter-spacing: .1px;
}