

.rangeslider {
  $primary: #629134;
  $roundness: 5px;

  $sliderHeight: 12px;
  $handleSize: 10px;
  $valueWidth: 90px;

  $labelMarkerHeight: 12px;

  position: relative;
  height: $sliderHeight;
  width: 100%;
  background-color: #e0e0e0;
  background-image: url(../images/input-range-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: .6rem;
  margin-bottom: 2rem;


  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 12px;
    transition: background-color .5s;
  }

  &:before {
    background-color: $primary;
    width: 52px;
    left: -52px;
  }

  &:after {
    background-color: #f90701;
    width: 62.5px;
    right: -62.5px;
  }

  &__handle {

    transition: background-color .2s, box-shadow .2s;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #fff;
    touch-action: pan-y;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;

    width: $handleSize;
    height: $handleSize;
    top: -($handleSize/2) + ($sliderHeight/2);
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(98, 145, 52, 0.52);

    &__value {
      transition: background-color .2s,
                  box-shadow .1s,
                  transform .1s;
      box-sizing: border-box;
      width: $valueWidth;
      text-align: center;
      padding: 10px;
      background-color: $primary;
      border-radius: $roundness;
      color: white;
      left: -($valueWidth/2 - $handleSize/2);
      top: -55px;
      position: absolute;
      white-space: nowrap;
      border-top: 1px solid darken($primary, 10%);
      box-shadow: 0 -4px 1px rgba(black, .07),
      0 -5px 20px rgba(black, .3);

      &:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid;
        border-top-color: $primary;
      }

      display: none;
    }


  }

  &__fill {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: $primary;
    transition: background-color .5s;
  }

  &__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;


    left: -3.2rem;
    width: auto;
    right: -4rem;

    &__label {
      font-size: 13px;
      position: relative;
      padding-top: 20px;
      color: #808796;
      text-transform: uppercase;
      font-weight: 600;

      &:nth-child(2) {
        left: -5px;
      }

      &:nth-child(3) {
        left: 14px;
      }

      &:nth-child(4) {
        left: 23px;
      }


      @include media-breakpoint-down(sm) {
        font-size: 11px;
        letter-spacing: -.5px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 9px;
      }

      @media (max-width: 320px) {
        font-size: 8px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 1px;
        height: $labelMarkerHeight - 3px;
        border-radius: 1px;
        background-color: rgba($secondary, .5);

        display: none;
      }

      &:first-child:before,
      &:last-child:before{
        height: $labelMarkerHeight;
        width: 2px;
      }

      &:first-child:before { background-color: $primary }
      &:last-child:before { background-color: $secondary }

      &:first-child {
        //transform: translateX(-48%)

        &:before {
          left: 0;
        }
      }
      &:last-child {
        //transform: translateX(48%)

        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }

  // active state
  &.rangeslider--active {
    .rangeslider__handle {
      &, *      {
        box-shadow: 0 0 0 3px #fff, 0 0 0 7px $primary;

      }
      *:before  {
        border-top-color: $primary
      }
    }

    .rangeslider__handle__value {
      transform: translateY(-5px);
      box-shadow: 0 -3px 2px rgba(black, .04),
      0 -9px 25px rgba(black, .15);
    }
  }


  &.rangeslider--value-2 {
    .rangeslider__fill,
    &:before {
      background-color: #90ce4f;
    }
  }

  &.rangeslider--value-3 {
    .rangeslider__fill,
    &:before {
      background-color: #eaa647;
    }

    .rangeslider__handle {
      box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(210, 147, 59, 0.6);
    }

  }


  &.rangeslider--value-4 {
    .rangeslider__fill,
    &:before {
      background-color: #ff221d;
    }

    .rangeslider__handle {
      box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(224, 59, 19, 0.56);
    }
  }

  &.rangeslider--value-5 {
    .rangeslider__fill,
    &:after,
    &:before {
      background-color: $secondary;
    }

    .rangeslider__handle {
      box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(210, 56, 56, 0.64);
    }
  }
}

.form-group-range {
  padding-bottom: .25rem;
  margin-bottom: 6px;

  label {
    line-height: 1.2;
  }



  @include media-breakpoint-up(sm) {

    .range-offset-l {
      margin-left: 4.6rem;
      margin-right: 4.6rem;
      position: relative;
    }

    label {
      font-size: 18px;
    }
  }


}


@include media-breakpoint-down(md) {
  .rangeslider__labels__label:nth-child(4) {
    left: 18px;
  }

  .rangeslider__labels__label {
    font-size: 12px;
  }
}


@include media-breakpoint-down(sm) {
  .rangeslider__labels__label {
    width: 20%;
    line-height: 1;
    text-align: center;
    font-size: 11px;
    padding: 0 .5rem;
  }

  .rangeslider__labels {
    margin-top: 1.7rem;
  }

  .form-group-range .range-offset-l {
    margin-left: .8rem;
    margin-right: .8rem;
  }
  .rangeslider__labels {
    left: 0;
    right: 0;
  }

  .rangeslider__labels__label:first-child {
    text-align: left;
    padding-left: 0;
  }

  .rangeslider__labels__label:nth-child(2) {
    left: 0;
    text-align: left;
  }

  .rangeslider__labels__label:nth-child(3) {
    left: 0;
  }


  .rangeslider__labels__label:last-child {
    text-align: right;
    padding-right: 0;
  }
}

@include media-breakpoint-down(xs) {
  .card-cc.card-cc-evaluate {
    border: 0;
    padding: 1rem 0;
  }

  .form-group-range .range-offset-l {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .rangeslider__labels {
    left: -8px;
    right: -8px;
  }

  .rangeslider__labels__label:nth-child(4) {
    left: 9px;
  }
}

@media (max-width: 320px) {
  .rangeslider__labels__label {
    font-size: 10px;
  }
}