///// COLOR Varialbles
$color-excel:  #237830; // #1e7045;
$color-project: #067462;
$color-access:  #a03437;
$color-powerpoint:  #d04423;
$color-outlook:  $primary;
$color-visio:  #37539d;
$color-word:  #2A5695;
$color-Ae:  #7f5baa;
$color-Ai:  $primary;
$color-Id:  #da2c8b;
$color-Ps:  #39529e;
$color-Pr:  #9d5bb5;
$color-html:  #0170ba;
$color-javascript:  #63a814;
$color-php:  #68419c;

// RESOURCES PAGE

@mixin course_theme($color) {
  .widget a,
  .post-title a,
  .post-link,
  .intro-copy a,
  .page-copy a,
  .page-intro h1,
  .post-body p a,
  a:not(.btn),
  .page-intro h1 + h5 {
    color: $color;
  }

  a:not(.btn),
  .widget a,
  .post-title a,
  .post-link,
  .intro-copy a,
  .post-body p a,
  .page-copy a {
    &:hover {
      color: darken($color, 15%);
    }
  }

  .text-link-2:hover {
    box-shadow: $color 0 2px 0;
  }

  .post-link {
    &:after {
      background-color: darken($color, 15%);
    }

    &:hover {
      color: darken($color, 15%);
      text-decoration: none;

      &:after {
        box-shadow: 0 1px 0 0 darken($color, 15%);
      }
    }
  }

  .card-details header h5 {
    color: $color;
  }

  .accordion-item .post-title a {
    &:hover {
      color: $color;
    }
  }
}

//MS
.g-text-excel {
  @include course_theme($color-excel);
}

.g-text-access {
  @include course_theme($color-access);
}

.g-text-powerpoint {
  @include course_theme($color-powerpoint);
}

.g-text-project {
  @include course_theme($color-project);
}
.g-text-outlook {
  @include course_theme($color-outlook);
}
.g-text-visio {
  @include course_theme($color-visio);
}

.g-text-word {
  @include course_theme($color-word);
}

//DEVELOPMENT
.g-text-html {
  @include course_theme($color-html);
}

.g-text-css {
  @include course_theme(#f26529);
}

.g-text-javascript {
  @include course_theme($color-javascript);
}

.g-text-php {
  @include course_theme($color-php);
}

//ADOBE
.g-text-Id {
  @include course_theme($color-Id);
}

.g-text-ae {
  @include course_theme($color-Ae);
}

.g-text-Ai {
  @include course_theme($primary);
}

.g-text-Ps {
  @include course_theme($color-Ps);
}

.g-text-Pr {
  @include course_theme($color-Pr);
}

/// Business Skills

.g-text-bs-bw {
  @include course_theme(#d20000);
}
.g-text-bus-eti {
  @include course_theme(#a9336f);
}
.g-text-presentation {
  @include course_theme(#8D123E);
}
