@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPRO-Bold.eot');
  src: local('Futura2'),
  url('../fonts/FuturaPRO-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPRO-Bold.woff2') format('woff2'),
  url('../fonts/FuturaPRO-Bold.woff') format('woff'),
  url('../fonts/FuturaPRO-Bold.ttf') format('truetype'),
  url('../fonts/FuturaPRO-Bold.svg#FuturaPRO-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPRO.eot');
  src: local('Futura2'),
  url('../fonts/FuturaPRO.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPRO.woff2') format('woff2'),
  url('../fonts/FuturaPRO.woff') format('woff'),
  url('../fonts/FuturaPRO.ttf') format('truetype'),
  url('../fonts/FuturaPRO.svg#FuturaPRO-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


//@font-face {
//  font-family: 'Futura';
//  font-display: auto;
//  src: url('Futura-Normal.woff2') format('woff2'),
//  url('Futura-Normal.woff') format('woff');
//  font-style: normal;
//  font-weight: 400;
//}

///
