
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.7;

  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }

  @media (max-width: 320px) {
    font-size: 13px;
  }

}

//a {
//  color: $headings-color;
//
//}


a {
  &:not( .btn ) {
    transition: all .3s;
    font-weight: 500;
    color: $primary;
    letter-spacing: -.5px;

    &:hover {
      color: #e4a318;
    }


    &.link-secondary {
      color: $red;
    }
  }

  &.dropdown-item {
    color: $body-color;
  }
}



.link-secondary {
  color: $red;
}

b,
strong {
  font-weight: 600;
  color: #2f3542;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

//// Headings

.h1, h1,
.h2, h2 {
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: -1px;

  @include media-breakpoint-down(lg) {
    font-size: 48px;
  }

  @include media-breakpoint-down(md) {
    font-size: 44px;
  }


  @include media-breakpoint-down(sm) {
    font-size: 34px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }

}

.h3, h3 {
  @include media-breakpoint-down(md) {
    font-size: 1.55rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.45rem;
  }

}

.h4, h4 {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }

}

h5 {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {

    font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }

}

.h5 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
}

h6, .h6 {
  font-weight: 400;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 1rem;
  line-height: 1.2;
}

//// Container

.container-sm {
  max-width: 640px;
}

.container-l2 {
  @include media-breakpoint-only(md) {
    max-width: 100%;
  }
}


.section {
  a {

    font-weight: 500;
  }
}


//// TEXT COLOR



.text-light {
  color: #bdc2cb!important;
}

.w-td-md {
  width: 30%;
}

.show-md {
  @include media-breakpoint-up(lg) {
    display: none!important;
  }
}

.b-0 {
  border: 0!important;
}


.link-secondary {
  color: $secondary;
}


/////


.mw-13 {

  @include media-breakpoint-up(md) {
    min-width: 13rem;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
  }
}
