.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.w-auto {
  max-width: 100%;
}

.w-940 {
  max-width: 940px;
}

.bt-1 {
  border-top: 1px solid #eee;
}
.bt-2 {
  border-top: 2px solid #eee;
}