$blue:    #4f95ff;
$yellow:    #ffc03a;
$red:    #d23838;
$blue-dark:   #03304e;
$green: #6ab24d;
$green-dark: #073324;
$orange: #ff8300;


$primary:       $yellow;
$secondary:       $red;

// COURSE COLORS

$excel:     #237830;
// Body

//
// Settings for the `<body>` element.

$body-bg:                   #fff;
$body-color:                #696c73;


$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-family-sans-serif:      'Poppins', sans-serif;

$headings-font-family:        'Futura', sans-serif;
$headings-font-weight:        800 !default;
$headings-line-height:        1 !default;
$headings-color:              #2f3542;

$line-height-base:            2;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
) !default;

$grid-gutter-width:           40px;


//$input-bg:    #f4f5f6;
//
//$input-border-radius: 0;
//$input-border-width: 0;
//$input-border-color:  $input-bg;
//
//$input-btn-focus-width:  2px;
//$input-btn-focus-color:    $blue;



///// NAV

$navbar-padding-y:  20px;



////    MODAL
$modal-title-line-height:    1;

////    BUTTON

$input-focus-border-color:   $primary;
$input-placeholder-color:     #c0bfbf;

////    FORM


$input-font-size: .9rem;
$input-font-size-lg:  1.15rem;