.card-blocks {
  display: inline-block;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
  margin: 5px 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  width: 100%;

  p:last-child {
    margin: 0;
  }

  i {
    min-width: 60px;
    display: inline-block;
    margin-bottom: 13px;
    font-size: 50px;
  }


  @include media-breakpoint-up(sm) {
    padding: 40px 20px;
    min-height: 210px;
    max-width: 280px;
    min-height: 65px;

    i {
      font-size: 64px;
    }
  }
}



.card-blocks-2col {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 4em;
  margin-top: 3em;

  @include media-breakpoint-down(xs) {
    margin-bottom: 3em;
    margin-top: 2em;
  }
}

//// HIRE ROOM PAGE

