.card-cc {
  border: 1px solid #ebebeb;
  padding: 2.3rem;
  margin-bottom: .5rem;
  border-radius: 3px;

  &-heading {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    padding: 2rem;
  }

  @include media-breakpoint-down(xs) {
    padding: 1rem;
    justify-content: left;
    text-align: left;


    &-heading {
      text-align: left;
      margin-bottom: .8rem;
    }
  }
}


.card-cc-step {
  text-align: center;

  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }

  .card-cc-img {
    display: flex;
    align-items: center;
    min-height: 175px;
    justify-content: center;
    margin: 1rem 0 1.3rem;

    img {
      max-width: 100%;
    }
  }


  @include media-breakpoint-down(md) {
    min-height: 0;

    .card-cc-img {
      min-height: 142px;

      img {
        max-width: 75%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    h4 {
      &:last-child {
        font-size: 18px;
      }
    }

    .card-cc-img {
      min-height: 100px;
      margin: .5rem 0 1rem;

      img {
        max-width: 62%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    text-align: left;

    h4 {
      font-size: 18px;

      &:last-child {
        font-size: 15px;
      }
    }


    .card-cc-img {
      min-height: 80px;
      justify-content: left;
      margin-top: 3px;
      margin-bottom: .5rem;
    }

  }
}


.card-cc-evaluate {

  .content-default {
    padding: 10px 0 0;

    @include media-breakpoint-up(md) {
      padding: 2rem 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 2.6rem 3.5rem;
    }
  }
}

.card-cc-thankyou {
  padding: 2rem;

  h5 {
    color: #2f3542;
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.icon-ty {
  display: inline-block;
  width: 72px;
  height: 70px;
  background-image: url(../images/icons/icon-check-ty.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0;
}

.row-icon-ty {

  &-body {

  }

  @include media-breakpoint-up(sm) {

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}


@include media-breakpoint-down(md) {

  .step-passexam-ctr {
    min-width: 65px;
    font-size: 3rem;
  }

  .step-passexam-block {
    width: 160px;
    padding: 0 2rem;
    margin-left: 2rem;
    min-height: 170px;

    &:before {
      width: 20px;
      height: 20px;
      box-shadow: 0 0 0 6px rgba(254,192,58,.4);
    }
  }

  .step-passexam-h {
    .step-passexam-info {
      margin-top: 0;
    }
  }

  .step-passexam:not(:last-child):before {
    left: 11rem;
  }

  .step-passexam-body {
    padding-left: 18rem;
    margin-top: .8rem;

    h5 {
      font-size: 18px;
    }

    >h4 {
      font-size: 24px;
    }
  }

  .step-passexam-h.collapsed .step-passexam-block:before {
    box-shadow: 0 0 0 7px hsla(0,0%,77%,.22);
  }

}


@include media-breakpoint-down(sm) {

  .step-passexam-l {
    display: block;
    margin-right: 1.5rem;
    position: relative;
  }

  .step-passexam-block:before {
    top: -9px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .step-passexam-block {
    margin-left: 0;
    margin-right: 0;
    padding-top: .8rem;
  }

  .step-passexam:not(:last-child):before {
    left: 5rem;
    top: 6rem;
  }

  .step-passexam-ctr {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    letter-spacing: 0;
    left: 0;
    right: 0;
    top: -7px;
    min-width: 40px;
    height: auto;
    border-radius: 100%;
    text-align: center;
    font-weight: 700;
    padding-top: 2px;
    line-height: 1;
    color: #fff;
  }

  .step-passexam-block:before {
    width: 34px;
    height: 34px;
    top: -15px;
  }

  .step-passexam-body {
    padding-left: 11.5rem;
  }

  .masterhead-ec .img-specialist img {
    width: 150px;
    min-width: 150px;
  }

}

@include media-breakpoint-down(xs) {

  .step-passexam-h {
    display: block;
  }

  .step-passexam-block {
    width: 100%;
    margin-right: 0;
    min-height: 0;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    display: block;
  }

  .step-passexam-l {
    margin-right: 0;
  }

  .step-passexam:not(:last-child):before {
    left: 0;
    z-index: 1;
    top: 3rem;
    height: 98%;
  }

  .step-passexam-h .step-passexam-info {
    padding-left: 0;
    margin-top: .5rem;
  }

  .step-passexam-body {
    padding-left: 0;
  }

  .step-passexam-block:before {
    bottom: 0;
    top: 0;
    right: auto;
    left: -32px;
    width: 20px;
    height: 20px;
    z-index: 1;
  }

  .step-passexam {
    padding: .5rem 1.4rem;
  }

  .step-passexam-ctr {
    color: inherit;
    right: auto;
    bottom: 0;
    background: #c5c5c5;
    border-radius: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
  }

  .step-passexam-block h5 {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
  }

  .step-passexam-block h5 br {
    display: none;
  }

  .step-passexam-block h5 i {
    margin-bottom: 0;
    margin-right: .5rem;
  }

  .cblock {
    padding: 1rem 1.2rem;
  }

  .masterhead-ec .book-training-holder {
    align-items: flex-end;
  }

  .masterhead-ec .img-specialist img {
    width: 100px;
    min-width: 100px;
  }

}

@media (max-width: 340px) {

  .masterhead-ec .img-specialist img {
    width: 60px;
    min-width: 60px;
  }
}