.card-exam-detail {
  text-align: center;

  padding: 0 6px!important;
  border: 0;
  max-width: 575px;

  &.card {
    margin-bottom: 5rem;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 4rem!important;
  }

  .card-img-top {
    display: block;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    background-position: center;

    @include media-breakpoint-only(sm) {
      height: 100px;
    }

    @include media-breakpoint-down(xs) {
      height: 125px;
    }

  }

  .card-body {
    padding: 1.5rem 1rem;
    border: 1px solid #e8e8e8;
    border-width: 0 1px;
    padding-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
      padding-bottom: .2rem;
    }

    > h5 {
      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }

      @include media-breakpoint-only(sm) {
        font-size: 18px;
      }
    }

    > h4 {
      margin-bottom: 1rem;

      @include media-breakpoint-up(lg) {

        font-size: 25px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 20px;
        margin-bottom: .5rem;
      }

    }

    > h3 {
      color: $color-excel;
      line-height: 1.2;
    }

    a {
      color: $secondary;
      text-decoration: underline;

      &:hover {
        color: darken($secondary, 15%);
      }
    }
  }

  .card-footer {
    background-color: transparent;
    border-top: 0;
    border: 1px solid #e8e8e8;
    border-top: 0;
    padding-bottom: 0;
    border-radius: 0 0 3px 3px;
  }

  .card-price {
    display: block;
    border: 1px solid #e8e8e8;
    padding: 1.4rem 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: -4rem;
    background-color: #fff;
    width: 275px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.13) 0 5px 25px;
    transition: .3s all;
    text-decoration: none!important;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: .2rem;
      padding: 1rem;
      margin-bottom: -3rem;
    }

    * {
      line-height: 1;
    }

    h3 {
      color: $color-excel;
      font-size: 60px;
      font-family: inherit;
      letter-spacing: -1px;
      margin: 0;

      @include media-breakpoint-only(sm) {
        font-size: 38px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 42px;
      }
    }

    span {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 800;
      color: #464b56;

      @include media-breakpoint-only(sm) {
        font-size: 17px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 18px;
      }
    }
  }

  &:hover {

    .card-price {
      background-color: $primary;
      color: #fff;


      box-shadow: #ffc03a 0 5px 25px;

      * {
        color: inherit!important;
      }
    }
  }


  &.skin-access {
    .card-price h3,
    .card-body > h3 {
      color: $color-access;
    }
  }
  &.skin-outlook {
    .card-price h3,
    .card-body > h3 {
      color: $color-outlook;
    }
  }
  &.skin-powerpoint {
    .card-price h3,
    .card-body > h3 {
      color: $color-powerpoint;
    }
  }
  &.skin-word {
    .card-price h3,
    .card-body > h3 {
      color: $color-word;
    }
  }

}
///

.section-step-passexam {
  background-color: #f9f9f9;
}


.cblock {
  background: #fff;
  padding: 1.4rem 1.8rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;

  > * {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 500;
  }

  .list-inline li+li:before {
    content: "";
  }
}

.step-passexam {
  padding: 1rem 0;
  position: relative;

  &-block {
    position: relative;
    background-color: #fff;
    width: 270px;
    min-height: 190px;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 2rem;
    margin-left: 3rem;

    h5 {
      margin: 0;
      line-height: 1;

      i {
        font-size: 3vmax;
        display: block;
        margin-bottom: 12px;
        color: #808796;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -14px;
      width: 28px;
      height: 28px;
      display: block;
      background-color: #ffc039;
      border-radius: 100%;
      box-shadow: 0 0 0 10px rgba(254,192,58,.40);
    }
  }

  &-h {
    display: flex;
    align-items: flex-start;

    .step-passexam-info {
      margin-top: .5rem;
    }


    &.collapsed {
      .step-passexam-block {
        &:before {
          content: '';
          background-color: #c5c5c5;
          box-shadow: 0 0 0 10px rgba(197, 197, 197, 0.22);
        }
      }
    }
  }

  &-l {
    display: flex;
    align-items: center;
  }

  &-ctr {
    font-size: 80px;
    letter-spacing: -3px;
    min-width: 90px;
    text-align: right;
    color: #2f3542;
  }

  &-info {
    .list-inline li+li:before {
      content: '';
    }
  }


  &-body {
    padding-left: 27.5rem;
  }

  &:not(:last-child):before {
    content: '';
    width: 1px;
    height: 100%;
    border-left: 2px dashed $primary;
    position: absolute;
    left: 17rem;
  }
}

