/* Tables
================================== */
.tbl {
  position: relative;
}

.tbl-col {
  padding: 0;
  margin: 0;
  color: #2f3541;
  line-height: 1;
  font-size: 16px;
  position: relative;




  @include media-breakpoint-up(lg) {

    display: flex;
    flex-wrap: wrap;
  }

}

.tbl-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1.2em;
  list-style: none;
  border: solid 1px white;
  width: 10%;

  &:first-child {
    border-top: 0;
  }

  h5 {
    //padding-right: 1rem;
    line-height: 1;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
      font-weight: 500;
    }
  }

  a {
    color: $blue;
    text-decoration: underline;
  }

  p {
    line-height: 1.3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {

    overflow: hidden; // Or flex might break
  }


}

/* Table column sizing
================================== */
.tbl--2cols .tbl-cell  { width: 50%; }
.tbl--3cols .tbl-cell  { width: 33.33%; }
.tbl--4cols .tbl-cell  { width: 25%; }
.tbl--5cols .tbl-cell  { width: 20%; }
.tbl--6cols .tbl-cell  { width: 16.6%; }



.tbl-checkout {
  background-color: #f9f9f9;
  border-radius: 2px;
  margin-bottom: 1.5rem;

  .tbl-cell {
    border: 0;
  }

  .tbl-cell-last {
    padding-right: 3.2rem;

    .c-close {
      background-color: transparent;
      position: absolute;
      right: 0;
      top: .5rem;
    }


    @include media-breakpoint-up(lg) {
      position: relative;

      .c-close {
        top: .8rem;
        right: 1rem;
      }
    }
  }


  .tbl-col-thead {

    .tbl-cell {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
    }
  }




  .tbl-col-sub {

    h5 {
      margin-bottom: 0px;
    }
  }


  @include media-breakpoint-down(md) {
    .tbl-cell {
      padding-left: .5rem;
      padding-right: .5rem;
      padding-bottom: 0;
      padding-top: 1rem;


      &:first-child {
        padding-top: .5rem;
      }
    }

    .tbl-cell-last {
      padding-top: 5px;
    }

  }

  @include media-breakpoint-up(lg) {
    padding: 1rem .8rem;

    .tbl-cell {
      //width: 30%;

      &:first-child {
        width: 25%;
      }
    }

    .tbl-cell-last {
      width: 18%;
      text-align: right;

    }

  }
}

.h-price {
  font-size: 25px;
  font-weight: 500;
  color: #464b56;
  line-height: .9;
  font-family: inherit;
  letter-spacing: -1.5px;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

.tbl-hr {

  .tbl-cell {
    padding-top: 5px;
    padding-bottom: 5px;

    &:after {
      content: '';
      height: 1px;
      display: block;
      background: #e2e2e2;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}



//// ICONS

.icon-card {
  display: inline-block;
  width: 65px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  text-indent: -999em;

  &-paypal {
    width: 88px;
    min-width: 88px;
    height: 36px;
    min-height: 36px;
    background-image: url('../images/icons/icon-payment-paypal.png');
  }

  &-visa {
    background-image: url('../images/icons/icon-payment-visa.png');
  }

  &-mastercard {
    background-image: url('../images/icons/icon-payment-mastercard.png');
  }

  &-americanexpress {
    background-image: url('../images/icons/icon-payment-americanexpress.png');
  }

  &-discover {
    background-image: url('../images/icons/icon-payment-discover.png');
  }

  @include media-breakpoint-down(xs) {
    width: 55px;
    height: 34px;
  }
}


.icon-ccv {
  display: inline-block;
  width: 40px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url('../images/icons/icon-ccv.png');

  &-r{
    float: right;
    margin-right: -50px;
    margin-top: -32px;
  }
}

////// CHECKOUT FORM
.form-checkout {
  margin-bottom: 6rem;

  .form-actions {
    text-align: left;
    margin-top: 1rem;
  }

  .btn-green {
    min-width: 200px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }


  .fields-cc {
    display: none;
  }

  &.is-selected-cc {
    .fields-cc {
      display: block;
    }
  }

  @include media-breakpoint-down(md) {

    margin-bottom: 3rem;
  }
}
////



.block-payment {
  border: 1px solid #111;
  display: inline-block;
  padding: 1.6rem 1rem 1rem;
  position: relative;
  margin-top: 1rem;


  > h4 {
    position: absolute;
    top: -18px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 0;
    line-height: 0;

    .icon {
      width: 88px;
    }
  }

}

.payment-list {
  font-size: 0;
  line-height: 0;
  position: relative;

  li {
    display: inline-block;
    padding: 0 3px;
  }

  &.sm {
    .icon-card {
      width: 52px;
      height: 33px;

      @include media-breakpoint-down(md) {
        width: 46px;
        height: 28px;
      }
    }
  }

}


.payment-info {
  @include media-breakpoint-up(md) {

    min-width: 400px;
  }
}


.inline-info {
  display: flex;

  i,
  svg {
    font-size: 56px;
    margin-right: 1rem;
    min-width: 25px;
  }


}


.checkout-info {
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {

    margin-bottom: 2.5rem;
    display: flex;
  }
}


/////

.form-payment-option {
  max-width: 790px;


  @include media-breakpoint-up(lg) {

    padding-right: 3rem;
  }
}

.card-payment {
  background-color: #f9f9f9;
  padding: 1rem 1.5rem;

  &-nav {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 0;

    li {
      display: inline-block;
      a {

        background-color: #e0e6f0;
        width: 9px;
        height: 9px;
        display: inline-block;
        border-radius: 100%;
        margin-right: 12px;
        margin-top: 3px;
        text-indent: -99999em;


        &.is-active {

          box-shadow: 0 0 0 3px rgba(254,192,58,.42);
          background-color: #fec03a;
        }
      }
    }
  }


  @include media-breakpoint-down(md) {
    padding: 1rem 1.3rem 1rem;


    .form-group {
      position: relative;

      .icon-ccv-r {
        position: absolute;
        right: 11px;
        margin: 0;
        bottom: 10px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 2rem;
  }
}


/////




.booking-step {
  display: flex;
  justify-content: center;
  color: #dfdfdf;
  position: relative;
  margin: 2.5rem 0;

  &-item {
    text-align: center;
    font-size: 14px;
    min-width: 24%;
    position: relative;
    z-index: 1;

    i {
      font-style: normal;
      display: block;
      width: 35px;
      height: 35px;
      background: #dedede;
      text-align: center;
      color: #fff;
      font-weight: 800;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: #f5f5f5 0 0 0 6px;
      margin: 0 auto .6rem;
    }

    &.active {
      color: #808796;

      i {
        background-color: #ffc03a;
        box-shadow: #ffecc2 0 0 0 6px;
      }
    }
  }

  &:after {
    content: '';
    width: 50%;
    top: 1rem;
    position: absolute;
    height: 1px;
    border-top: 2px dashed;
  }
}

.form-control + .form-control,
.select2-container + select + .select2-container {
  margin-top: 4px;
}


.l2-inline {
  display: inline-flex;
  align-items: center;
}

@include media-breakpoint-down(md) {
  .tbl-col {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 15px;

    &:first-child {
      border: 0;
    }
  }

  .tbl-col.tbl-col-thead {
    border-top: 0;
    padding-top: 10px;
  }

  .tbl-checkout {
    padding: 0 10px;
  }

  .section-booking {
    .section-actions {
      .btn {
        display: block;
        margin-top: 4px;
      }
    }
  }

  .section-actions {
    .btn {
      width: 100%;
      margin-bottom: 4px;
    }
  }

  .l2-inline {
    display: flex;
    justify-content: space-between;
  }

  .card-payment {
    .l2-inline {
      margin-top: .5rem;
    }
  }
}




@include media-breakpoint-down(sm) {
  .modal-default {
    .modal-body {
      padding: 1.5rem 1rem;
    }
  }

  .booking-step {
    margin: 2.5rem 0 1rem;
  }

  .booking-step-item {
    min-width: 35%;
  }


}