.card-fblock {
  position: relative;
  padding: 2rem 1.2rem;
  text-align: center;
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  margin-bottom: .7rem!important;
  transition: all .2s;
  max-width: 560px;

  .card-title {
    font-size: 27px;
    text-transform: uppercase;
    color: $color-excel;
    margin-bottom: 1.5rem;
  }

  .card-body {
    background-color: #fbfbfb;
    color: #2f3542;
    font-size: 16px;
    padding: 3rem 2rem;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow .2s;

    .btn {
      min-width: 170px;
    }

    p {
      line-height: 1.2;
      margin-bottom: 1.4rem;
    }
  }

  .icon-pdf-lg {
    margin-bottom: 1rem;
    transition: all .2s;
  }

  /// SKIN

  &-access {
    .card-title {
      color: $color-access;
    }
  }

  &-outlook {
    .card-title {
      color: $color-outlook;
    }
  }

  &-powerpoint {
    .card-title {
      color: $color-powerpoint;
    }
  }

  &-project {
    .card-title {
      color: $color-project;
    }
  }

  &-visio {
    .card-title {
      color: $color-visio;
    }
  }

  &-word {
    .card-title {
      color: $color-word;
    }
  }

  ////// ADOBE

  &-ps {
    .card-title {
      color: $color-Ps;
    }
  }

  &-ae {
    .card-title {
      color: $color-Ae;
    }
  }

  &-ai {
    .card-title {
      color: $color-Ai;
    }
  }

  &-id {
    .card-title {
      color: $color-Id;
    }
  }

  &-pr {
    .card-title {
      color: $color-Pr;
    }
  }


  &:hover {
    z-index: 1;
    box-shadow: 0 4px 22px rgba(0,0,0,.18);

    .card-body {
      box-shadow: 0 0 0 0.7rem #fff inset;
    }

    .icon-pdf-lg {
      transform: scale(.95);
    }

  }
}





.icon-pdf-lg {
  width: 120px;
  height: 165px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0;
  background-image: url(../images/icons/icon-pdf-lg.png);
}

.card-deck-fblock {
  justify-content: center;
}

@include media-breakpoint-between(xs, md) {
  .card-deck-fblock  {
    display: block;

    .card-fblock {
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 150px;
      padding: 1.8rem;
      padding-bottom: 2rem;
    }
  }


  .card-fblock {
    .icon-pdf-lg {
      position: absolute;
      left: 0;
      top: 0;
      width: 78px;
      height: 109px;
      background-size: contain;
      margin: 1.8rem;
    }

    .card-title {
      padding-left: 7rem;
      text-align: left;
      margin-bottom: .6rem;
    }

    .card-body {
      padding: 0;
      text-align: left;
      padding-left: 7rem;
      margin: 0;
      width: 100%;
      background-color: transparent;

      p {
        margin-bottom: 1rem;
      }
    }

    br {
      display: none;
    }
  }

}

@media (max-width: 420px) {
  .card-fblock .icon-pdf-lg {
    position: static;
    margin: .3rem auto;
    width: 60px;
    height: 85px;
  }

  .card-fblock .card-body {
    padding-left: 0;
    text-align: center;
  }

  .card-row-sm .card .card-title {
    padding-left: 0;
    text-align: center;
  }

  .card-deck-fblock .card-fblock {
    padding: 1.5rem;
  }
}



/// CLASS GUIDE


.table-compare {



  td,
  th {
    padding: .6rem;
    line-height: 1.3;
    border: 1px solid;
    vertical-align: middle;


    @include media-breakpoint-up(sm) {
      padding: .8rem;
    }

    @include media-breakpoint-up(md) {
      padding: 1.4rem;
    }
  }

  th {
    color: #fff;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }


  thead {
    th {
      border-top: 0;
      border: 0;
      background-color: #e8e8e8;
      font-weight: normal;
      color: #2f3542;
      text-align: center;
      border: 1px solid #fff;
      white-space: nowrap;


    }
  }

  tbody {
    color: #fff;
    background-color: #03b75a;


    td,
    th {
      border-color: #03b75a;
    }

    th {
      font-weight: normal;
      font-weight: 400;

      p {
        min-height: 55px;
        min-width: 120px;
        display: flex;
        align-items: center;
      }

      @include media-breakpoint-up(sm) {
        p {
          min-width: 180px;
        }
      }
      @include media-breakpoint-up(md) {
        padding-left: 1.8rem;

        p {
          min-width: 240px;
        }
      }
    }

    td {
      text-align: center;

      &:nth-child(2) {
        background-color: #02ab54;
      }

      &:nth-child(3) {
        background-color: #019e4d;
      }


      &:nth-child(4) {
        background-color: #019147;
      }


      &:nth-child(5) {
        background-color: #008641;
      }

      @include media-breakpoint-up(sm) {

        font-size: 14px;
      }
    }

    .fa-check {
      font-size: 28px;
      text-shadow: rgba(0, 0, 0, 0.16) 0 4px;
    }
  }



  tfoot {
    td {
      border: 0;
      padding: 6px 3px;

      .btn {
        white-space: nowrap;
      }
    }
  }

}
