.card-reschedule {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 12px 24px;

  @include media-breakpoint-up(md) {

    padding: 2.5rem;
  }

  &-class {
    margin-bottom: 1.2rem;

    @include media-breakpoint-up(md) {

      display: flex;
      justify-content: space-between;
    }
  }

  .card-icon {
    display: block;
    width: 85px;
    min-width: 85px;
    max-height: 86px;
    margin-right: 30px;
    margin-bottom: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .card-details {
    width: 100%;

    p {
      margin: 0;
      margin-bottom: .8rem;
      font-size: 18px;
    }

    .title-l4 {
      line-height: 1;
      margin-bottom: .4rem;
      font-size: 19px;
      font-weight: normal;
    }

    .title-l3 {
      margin-bottom: 4px;
    }

    aside {
      min-width: 300px;
    }

    .form-control {
      margin-top: .4rem;
    }

    @include media-breakpoint-up(lg) {

      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
    }

  }

  .card-footer {
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 0;
    padding-left: 7.2rem;

    .title-l4 {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}


@include media-breakpoint-down(sm) {
  .card-reschedule .card-icon {
    width: 52px;
    min-width: 0;
    max-height: none;
    float: left;
    margin-right: 1rem;
  }

  .card-reschedule .card-details {
    padding-top: 0;
  }

  .card-reschedule .card-details h5 {
    margin-bottom: 0;
  }

  .card-reschedule .card-footer {
    padding-left: 0;
  }
  button.close {
    padding: 10px 18px;
    font-size: 33px;
  }
}