.instructors-list-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .list-block {
    padding: 18px 0;
  }
}

.list-block {
  display: inline-block;
  padding: 18px;


  &-img {
    position: relative;
    display: block;
    width: 185px;
    height: 185px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 5px solid #e4e4e4;
    margin-bottom: 12px;
    transition: all .3s;
    background-color: #c7c7c7;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -5px;
      border-radius: 100%;
      border: 5px solid #fec03a;
      transition: all .3s ease;
      opacity: 0;
    }


    @include media-breakpoint-down(xs) {
      width: 145px;
      height: 145px;
    }
  }

  a {
    color: #808796;
    font-weight: 500;

    span {
      display: block;
      position: relative;
      transition: .3s all ease;
      bottom: 0;
    }


    &:hover {
      color: $primary;

      span {
        bottom: -8px;
      }

      .list-block-img:after {
        opacity:1;
        margin: -18px;
      }

    }
  }

  .instructors-list-block.sm & {

    padding: 5px;
    margin: 0;


    .list-block-img {
      margin-bottom: 0;
      width: 90px;
      height: 90px;
    }

  }

}




.card-training-plans {
  @extend .card-training;
  background-color: #fff;


  @include media-breakpoint-up(md) {
    max-width: 380px;
  }

  .card-title {
    height: auto;
    font-weight: 700;
    font-family: Futura,sans-serif;
    text-transform: uppercase;
    font-size: 28px;

    &.sm {
      text-transform: none;
      font-weight: 700;
      font-size: 18px;
      font-family: inherit;

      padding: 12px;
      min-height: 70px;
    }
  }

  .card-label {
    position: relative;
    align-items: center;
    text-align: left;
    line-height: 1.2;
    justify-content: center;
    display: flex;
    padding: 7px 10px 7px;
    transition: all .2s, color 0s, background-color .2s;
    color: inherit;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 50px;
      max-height: 50px;
      margin-right: 12px;
      margin-left: 0;
      display: inline-block;
      positon: relative;
      transition: all .2s;
    }

    span {
      display: inline-block;
      word-wrap: normal;
    }

    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 18px;
      height: 18px;
      margin: auto;
      margin-right: 0;
      background: url('https://api.iconify.design/simple-line-icons:arrow-right.svg?color=%2f3542') no-repeat center center / contain;
      transition: all .3s;
    }

    &:hover {
      color: inherit;
      text-decoration: none;
      position: relative;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      justify-content: flex-start;


      &:after {
        opacity: 1;
        margin-right: 10px;
      }
    }

  }




  .card-price {
    font-size: 54px;
    text-align: center;
    color: #fec03a;
    letter-spacing: -3px;
    margin: 22px 0 14px;

    @include media-breakpoint-down(lg) {
      font-size: 48px;
    }
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }


  .card-footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 17px;
    background: transparent;
    padding-bottom: 34px;

    text-align: center;

    .btn {
      width: 100%;
      margin-bottom: 5px;
      max-width: 200px;
      min-width: 180px;

      svg {
        margin-right: 3px;
        margin-top: -3px;
      }
    }
  }



  &:hover {
  }


}

.card-deck-training {
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: center;
  }

}


/////


.section-some-stuff {
  background: url('../images/bg-hero-2.jpg') no-repeat center;

  background-color: #111;
  background-size: cover;
  color: #fff;

  h2 {
    color: inherit;
  }

  .owl-carousel {
    max-width: 800px;
    margin: auto;

    img {
      max-width: 100%;
    }
  }

}

.section-methodology {
  background-color: #f7f8fa;
  font-size: 16px;


  p, ul {
    font-size: inherit;


  }

  img {
    width: 100%;
    max-width: 520px;
    margin-top: -2em;
    margin-bottom: -1.5em;
  }

  @include media-breakpoint-down(lg) {
    img {
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    img {
      float: none!important;
      display: block;
      margin: auto;
      max-width: 490px;
    }

    br {
      display: none;
    }
  }
}



///// RATING

.section-reviews {
  background: url('../images/bg-hero-3.jpg') no-repeat center;

  background-color: #ddd;
  background-size: cover;

  .section-footer {
    text-align: center;
    margin-top: 1.6em;

    .btn {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }


}

.course-rating {
  text-align: center;
  margin-bottom: 2em;


  .star-rate {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  h3 {
    display: block;
    font-family: inherit;
    font-size: 30px;
    margin: 12px 0 16px;

    span {
      display: block;
      font-weight: 400;
      margin-top: 10px;
    }
  }


  img {
    max-width: 100%;
  }


  @include media-breakpoint-down(xs) {

    img {
      max-width: 200px;
    }

    margin-bottom: 1em;

    h3 {
      font-size: 22px;
      margin: 16px 0 0;
      line-height: 1.4;
    }
  }
}



.card-quote {
  background: #fff;
  padding: 35px 30px 20px;
  line-height: 1.5;
  text-align: center;
  width: 93%;
  margin: auto;
  position: relative;
  margin-top: 1.5em;
  border-radius: 0 0 46px 0;


  &:after {
    content: '';
    width: 46px;
    height: 37px;
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background: url('../images/icons/icon-flipped.png') no-repeat center;
  }

  &.light {
    background-color: #f9fafc;
  }
}

.icon-quote {
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 7px 12px rgba(0,0,0,.05);
  border-radius: 100%;
  letter-spacing: 1em;
  top: -30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;


  &:after {
    content: '';
    background: url('../images/icons/icon-quote.svg') no-repeat;
    background-size: contain;
    display: block;
    width: 28px;
    height: 22px;
  }
}


.owl-carousel-reviews .owl-nav.disabled+.owl-dots {
  margin-top: -8px;
}

.owl-instructors,
.owl-timetable {

  .owl-nav {
    button.owl-next,
    button.owl-prev{
      position: absolute;
      z-index: 2;
      top: -3.4rem;
      bottom: 0;
      width: 45px;
      height: 45px;
      margin: auto;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.08) 0 2px 6px;
      font-size: 1rem;
      opacity: 1;
      outline: none;
      transition: $transition-base;

      &:hover {
        background-color: $primary;
      }
    }

    button.owl-next {
      right: -1.5rem;
    }

    button.owl-prev {
      left: -1.5rem;
    }
  }

}


@include media-breakpoint-down(xs) {
  .owl-instructors {
    .owl-nav {

      button.owl-next {
        right: .5rem;
      }

      button.owl-prev {
        left: .5rem;
      }
    }
  }
}

////

.section-guarantee {
  text-align: center;
  line-height: 1.6;
  background-color: #f9fafc;

  img {
    max-width: 100%;
    margin-bottom: 3em;
  }
}


.section-course-form {


}

///// MODALS

.heading-l3 {
  text-align: center;
  color: #2f3542;


  h2 {

  }

  p {
    margin-bottom: 6px;
  }

  @include media-breakpoint-down(xs) {
    text-align: left;
  }
}

.class-labels {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    padding: 0 8px;
  }

  @include media-breakpoint-down(xs) {
    li {
      width: 100%;
      padding: 3px 0;
    }
  }
}

.class-label {
  display: inline-flex;
  align-items: center;
  color: $green;


  span {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $green;
    text-align: center;
    border-radius: 100%;
    font-weight: 600;
    color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 107%;
    margin-right: 8px;
  }

  &.red {
    color: $red;

    span {
      color: $red;
      border-color: $red;
    }
  }

  &.orange {
    color: $orange;

    span {
      color: $orange;
      border-color: $orange;
    }
  }


  &-block {
    display: block;
    text-align: center;
    color: #2f3542!important;

    span {
      margin: auto;
      width: 38px;
      height: 38px;
      border-width: 2px;
    }
  }
}


.text-label {
  display: block;
  color: #2f3542;
  line-height: 1;
}




.card-book-course {
  min-height: 266px;
  padding: 33px 20px;
  border: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.03);
  border-radius: 0;
  text-align: center;

  .class-label-block {
    margin-bottom: 22px;
  }

  h3 {
    font-size: 16px;
    letter-spacing: -.5px;
    margin-bottom: 30px;

    span {
      display: block;
      line-height: 1.5;
    }
  }


  @include media-breakpoint-down(md) {
    min-height: 0;
    padding-top: 24px;

    &:not(:last-child) {

      margin-bottom: 8px!important;
    }

    h3 {
      margin-bottom: 20px;
    }

    .class-label-block {
      margin-bottom: 7px;
    }
  }

}

.footer-note {
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.section-class-timetable{




  @include media-breakpoint-down(md) {
    .card-row-sm {

      .card {
        flex: 0 0 100%;
        max-width: 100%;
      }

    }
  }


  @include media-breakpoint-down(md) {
    .card-row-sm {

      .card {
        padding-top: 22px;
      }

    }
  }
}



/// PROFILE

.section-instructors {

  @include media-breakpoint-down(md) {
    .section-heading {
        margin-bottom: 0;

      h4 {
        font-size: 22px;
      }
    }
  }
}


.section-instructor-profile {
  display: flex;
  margin-bottom: .5em;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.owl-carousel-profile {

  .owl-nav.disabled+.owl-dots {
    margin-top: -14px;
  }

}

.profile-side {
  min-width: 200px;
  margin-right: 65px;

  h4 {
    font-size: 14px;
    padding: 9px 0;
    text-align: center;
  }

  @include media-breakpoint-down(md) {
    min-width: 0;
    margin: 0 auto;
    width: 200px;

    .profile-img {
      width: 100%;
    }
  }


}

.profile-img {
  width: 200px;
  height: 250px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &:after,
  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:after {
    bottom: -1px;
    border-top: 30px solid #e0e6f0;
    border-right: 30px solid transparent;
  }

  &:before {
    border-bottom: 30px solid #f9fafc;
    border-left: 30px solid transparent;
  }
}



////
.section-package-deal {
  .section-content {
    max-width: 940px;
    margin: auto;
  }
}

.card-include-deck {
  @include media-breakpoint-up(sm) {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.card-include {
  background-color: #f9fafc;
  border-radius: 5px;
  padding: 36px 15px 32px;
  text-align: center;
  line-height: 1.1;
  width: 100%;

  @include media-breakpoint-down(xs) {
    display: flex;
    align-items: center;
    padding: 11px 14px;
    margin-bottom: 5px;

    .card-icon {
      min-width: 34px;
      margin: 0;
      margin-right: 8px;
    }
  }

  @include media-breakpoint-up(sm) {
    margin: 5px;
  }
}

.card-icon {
  margin-bottom: 12px;

  img {
    max-width: 60px;
    max-height: 60px;
  }
}





///////

.price-l2 {
  font-size: 56px;
  color: #2f3542;
  font-family: 'futura';
  font-weight: 700;
  letter-spacing: -1px;
  display: flex;
  line-height: 1;
  position: relative;
  margin-bottom: -5px;

  sup {
    line-height: 2;
    font-size: 35px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 48px;

    margin-bottom: 0;

    sup {
      font-size: 26px;
    }
  }
}

.price-l3 {
  display: block;
  font-size: 27px;
  font-family: futura;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;

  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}



.price-details {
  line-height: 1;
  text-align: right;

  .btn {
    margin-top: 25px;

    &:hover {
      border-color: $red;
      background-color: $red;
    }
  }

  .price-l2 {
    float: right;
  }

  @include media-breakpoint-down(md) {
    text-align: left;

    .price-l2 {
      float: none;
    }
  }


  @include media-breakpoint-down(sm) {
    margin-bottom: 3em;
    text-align: center;
    text-align: left;

    .price-l2 {
      justify-content: center;
    }

    .btn {
      margin-top: 20px;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 2em;
    margin-top: 1em;
  }


  @include media-breakpoint-only(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 12px;

    .btn {
      margin-top: 0;
    }
  }
}


////


.section-faq {

  @include media-breakpoint-down(md) {

    .card-faq-list {
      display: block;

      .card {
        margin: 1em 0;
      }
    }

  }

}

.section-resources {
  background: #f9f9f9;
}

.card-resource {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin: 1em 0;
  color: #808796;

  .card-img {
    display: block;
    position: relative;
    background: #eee;
    margin-bottom: 12px;
    overflow: hidden;

    img {
      max-width: 100%;

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .card-title {
    margin: 0;
    position: absolute;
    background-color: rgba(48, 197, 239, 0.9);
    display: block;
    width: 100%;
    font-family: Poppins,sans-serif;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 1.4;
    padding: 10px 19px;
    bottom: 15px;
    transition: all .3s;
  }


  &:hover {
    .card-img {
      img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    .card-title {
      bottom: 0;
    }
  }


  &.l2 {

    .card-title {
      bottom: 0;
      opacity: 0;
    }

    &:hover {
      color: #2f3542;

      .card-title {
        bottom: 15px;
        opacity: 1;
      }
    }
  }
}


.section-book-class {
  background-color: #f3f4f7;

  .section-heading {
    text-align: left;
    max-width: 100%;
  }


  .course-actions {
    margin-top: 0;
  }
}

.book-class {
  margin-bottom: 2em;


  @include media-breakpoint-up(md) {
    margin-bottom: 2.5em;
    display: flex;
    align-items: center;

    ul {
      margin-bottom: 0;
    }

  }
}

.section-course-detail {
  img {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    img {
      margin-top: 1rem
    }
  }
}

.price-box {
  background-color: #fff;
  text-align: center;
  padding: 35px 20px 25px;
  //max-width: 370px;
  color: #808796;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(76, 88, 102, 0.17) 0 5px 30px;

  h3 {
    font-size: 50px;
    letter-spacing: -4px;
    margin: 0;
    line-height: 1;
    position: relative;

    &:after {
      content: '';
      background-color: #d5d7d9;
      height: 1px;
      width: 120px;
      display: block;
      margin: 0 auto;
      margin-bottom: 8px;
      margin-top: 12px;
    }
  }

  h4 {
    font-size: 30px;
    font-weight: 800;
    color: inherit;
    margin: 0;
  }

  p {
    text-transform: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  @include media-breakpoint-up(sm) {
    min-width: 320px;

    h3 {
      font-size: 80px;

      &:after {

        width: 160px;
      }

    }
  }

  @include media-breakpoint-up(md) {

    padding: 46px 20px 40px;
    margin-left: 12vh;
  }
}
