.course-intro {
  padding: 0 0 3em;

  .dropup .dropdown-toggle:after {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }

}

.course-side {
  min-width: 320px;
  margin-left: 3em;

  @include media-breakpoint-down(md) {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .ribbon-authorised {
      margin: 0;
      margin-left: 6em;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;


    .ribbon-authorised {
      margin: 0;
      margin-left: 0;
      margin-top: 2em;
    }
  }

  @include media-breakpoint-down(xs) {
    display: block;
    text-align: center;

    .ribbon-authorised {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}

.featured-img {
  img {
    max-width: 100%;
  }

  .ribbon-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @include media-breakpoint-down(md) {
    img {
      max-height: 320px;
      width: auto;
      margin: auto;
    }

    .ribbon-img {
      right: auto;
      left: 3em;
      max-width: 150px;
    }
  }

  @include media-breakpoint-down(xs) {
    .ribbon-img {
      left: 0;
      right: -7em;
      margin: auto;
      max-width: 150px;
    }
  }
}


.featured-img {
  position: relative;
}

.price-lbl {
  font-size: 60px;
  font-family: Futura,serif;
  font-weight: 700;
  color: #2f3542;
  line-height: .9;
  letter-spacing: -1px;

  span:first-child {
    display: block;
    font-size: 30px;
    color: #808796;
    text-transform: uppercase;
    margin-left: 28px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  span:last-child {
    display: block;
    font-size: 23px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    color: #7f8795;
  }

  sup {
    top: -20px;
    font-size: 53%;
  }

}

.course-actions {
  margin-top: 2em;

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;

  }
  svg {
    margin-right: 8px;
  }


  @include media-breakpoint-down(md) {
    margin-top: 2em;
    margin-bottom: 2em;

    .btn {
      min-width: 0;
      margin-bottom: 5px;
    }
  }

  @include media-breakpoint-down(xs) {

    .btn,
    .btn-group {
      display: block;
      width: 100%;
    }


  }

}


.ribbon-authorised {
  display: block;
  margin: auto;
  margin-top: 1.4em;
}




//////////  Accourdion

.accordion {
  >.card {
    border: 0;

    .card-header {
      background: transparent;
      border: 0;
      border-radius: 0;
      padding: 0;

      a {
        position: relative;
        display: block;
        padding-right: 40px;
        color: #464b56;
        line-height: 1.3;
        background-color: #f9f9f9;
        transition: all .2s ease;
        //pointer-events: none;
        text-decoration: none;
        font-weight: 700;
        padding: 10px;
        padding-right: 30px;
        font-size: 14px;

        > i {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          margin: auto;


          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;

          &:after,
          &:before {
            content:'';
            position: absolute;
            width: 15px;
            height: 1px;
            background: #a0a0a0;
            display: block;
          }

          &:before {
            width: 1px;
            height: 15px;
            opacity: 0;
          }


        }



        &:hover {
          color: $primary;

          > i {

            &:after,
            &:before {
              background: $primary;
            }

          }
        }

        &.collapsed {
          background-color: transparent;
          pointer-events: inherit;
          font-weight: 400;

          > i {
            &:before {
              opacity: 1;
            }
          }

          &:hover {
            color: #fff;
            background-color: $primary;

            > i {

              &:after,
              &:before {
                background: #fff;
              }

            }
          }
        }

        @include media-breakpoint-up(sm) {

          padding-top: 20px;
          padding: 16px 22px;
          padding-right: 3rem;
          font-size: 20px;

          > i {

            right: 22px;
          }

          &.collapsed {
            padding-top: 16px;

          }
        }

      }

    }
    .card-body {
      padding: 15px;
      padding-top: 1px;

      p:last-child,
      ul:last-child {
        margin: 0;
      }

      @include media-breakpoint-up(sm) {
        padding: 1px 36px 25px;
      }
    }

    .collapse {
      &.show {
        .card-body {
          background-color: #f9f9f9;
        }
      }
    }
  }

  &-l2 {
    .card {
      //background-color: transparent;


      .card-header {
        a {
          background-color: #fff;
          color: $primary;
          border-top: 2px solid #f9fafc;

          &.collapsed {
            color: #464b56;
            border-top: 2px solid #fff;
            background-color: transparent;
          }

        }
      }



      .card-body {
        background-color: #fff!important;
        padding-top: 1px;
        border-bottom: 2px solid #f9fafc;


        @include media-breakpoint-up(sm) {
          padding: 1px 22px 22px;
        }
      }
    }
  }
}




////


.section-hero-copy {
  background: #f4f4f5;

  .container {
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.section-td-arrow { // TOP arrow down
  position: relative;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #f9f9f9;

    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include media-breakpoint-down(xs) {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f9f9f9;
    }
  }
}

.section-intro-2 {
  @extend .section-intro;
  text-align: center;


  .section-heading {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 1.6rem;
  }

  .owl-carousel .owl-stage-outer {
    padding-top: 4px;
  }

  @include media-breakpoint-down(sm) {

    p {
      margin-bottom: 1rem;
    }
  }
}

///


.section-outline-bs {
  background: #f9fafc;


  .accordion {

  }

  @include media-breakpoint-up(md) {
    padding-bottom: 2rem;
  }

  @include media-breakpoint-down(sm) {

    .accordion {
      margin-bottom: 0;
    }

    .title-l2 {
      margin-top: 1.2em;
    }
  }
}

.section-trainers {
  .owl-carousel {
    margin-bottom: 1rem;
  }

  .course-rating {
    margin-top: 1em;
  }

  .section-footer {
    text-align: center;
  }
}



.service-icon {
  height: 90px;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 90px;
    max-width: 188px;
  }

  @include media-breakpoint-down(md) {

    height: 72px;

    img {
      max-height: 72px;
      max-width: 130px;
    }
  }

  @include media-breakpoint-down(sm) {

    height: 57px;

    img {
      max-height: 57px;
      max-width: 115px;
    }
  }

  @include media-breakpoint-down(xs) {

    width: 87px;
    min-width: 87px;
    margin: 0;
    height: auto;

    img {
      max-height: 43px;
      max-width: 64px;
    }
  }
}

.service-item {
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: text-top;
  color: #2f3542;


  @include media-breakpoint-down(sm) {
    padding: 3px 12px;
    font-size: 15px;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    display: flex;
    text-align: left;
    padding: 8px 0;
    align-items: center;

    p {
      margin-bottom: 0;
    }
  }
}

.services-list {
  text-align: center;
  margin-bottom: 1em;
}

.section-course-services {
  text-align: center;
  background-color: #f9f9f9;

  .section-heading {
    max-width: 100%;
    margin-bottom: 1em;

    h3 {
      margin-top: 1rem;
      line-height: 1.3;
    }
  }

  @include media-breakpoint-up(lg) {
    .section-heading {

      h2 {
        font-size: 58px;

      }
    }
  }

  @include media-breakpoint-down(xs) {
    .section-heading {
      h3 {
        font-size: 16px;
      }
    }
  }

}


///////

.section-resouces-hero {
  background: #f4f4f5 url('../images/bg-hero-7.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  .section-body {
    position: relative;
    padding: 1em 0;
    padding-left: 0;

    line-height: 1.4;
  }

  &.l2 {
    background-position: right center;
    background-size: auto 100%;
    background-color: #fff;
  }

  @include media-breakpoint-down(xs) {
    background-position: 30% center;
  }

  @include media-breakpoint-up(sm) {
    .section-body {
      padding: 3em 4em;
      text-align: right;
      background-color: rgba(255, 255, 255, 0.80);

      &:before {
        content: "";
        width: 70em;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.80);
        position: absolute;
        left: -70em;
        top: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .section-body {
      width: 80%;
    }
  }

  @include media-breakpoint-up(lg) {

    .section-body {

      width: 50%;
    }
  }
}


///

.block-code {
  display: block;
  white-space: pre;
  background: #333;
  color: white;
  font: 15px Monaco;
  padding: 15px 25px;
  margin-top: 1rem;
}