///excel-training.php
.masterhead-ms {
  position: relative;
  padding-bottom: 2rem;
  overflow: visible;
  min-height: 0;
  @include media-breakpoint-down(md) {
    padding-top: 10em;
  }
}


.masterhead-md {
  padding-top: 12em;
  padding-bottom: 4em;
  min-height: 0;

  @include media-breakpoint-up(lg) {

    min-height: 580px;
  }
}

.book-training-holder {
  .masterhead-copy {
    padding-right: 1rem;
  }


  @include media-breakpoint-down(md) {
    align-items: center;

    .masterhead-copy {
      font-size: 15px;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.book-training-artwork {
  position: relative;
  margin-bottom: -18rem;
  margin-top: -2rem;

  .ribbon-img {
    position: absolute;
    bottom: 0;
    right: .2rem;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;

    img:not(.ribbon-img) {
      max-width: 300px;
    }

    .ribbon-img {
      width: 200px;
      right: -1.5rem;
    }
  }


  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  @include media-breakpoint-down(xs) {
    img:not(.ribbon-img) {
      max-width: 230px;
      margin-bottom: -20px;
    }
  }
}

.masterhead-ps {
  padding-bottom: 2rem;
  overflow: visible;
  min-height: 0;



  @include media-breakpoint-down(lg) {
    .book-training-artwork {
      margin-bottom: -10rem;
      margin-top: -2rem;
    }
  }


  @include media-breakpoint-down(md) {
    padding-top: 10em;
    margin-bottom: 0;
    padding-bottom: 4rem;

    br {
      display: none;
    }

    .book-training-artwork {
      margin-bottom: -8rem;
    }
  }


  @include media-breakpoint-down(sm) {
    padding-top: 9em;
    margin-bottom: 3rem;
    padding-bottom: 01rem;

    .book-training-artwork {
      margin-top: 1rem;
      margin-bottom: -6.7rem;

    }
  }


  @include media-breakpoint-down(xs) {
    .book-training-artwork {
      margin-bottom: -4.7rem;

      img {
        max-width: 200px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 5rem;
    padding-top: 14.5rem;


    .book-training-artwork {
      margin-top: -4.5rem;
      max-width: 420px;

      img {
        margin-left: -6rem;
      }
    }
  }


}

///


.masterhead-web {
  padding-top: 12em;
  padding-bottom: 2em;
  min-height: 620px;
}


.masterhead-ec {
  padding-bottom: 3em;
  overflow: visible;
  min-height: 0;

  @include media-breakpoint-down(lg) {

    h1 {
      br {
        display: none;
      }
    }

    .img-specialist {
      img {
        max-width: 100%;
        width: 420px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 2em;
    padding-top: 10em;

    .img-specialist {
      img {
        width: 600px;
      }
    }
  }

  @media (max-width: 340px) {
    .img-specialist {
      img {
        width: 100px;
      }
    }
  }

}

///

.course-intro-row {

  .course-actions {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    .course-actions {
      margin-top: 0;
    }

  }
}



/////


.c-close,
.c-open {
  border: 2px solid;
  color: $body-color;
  font-size: 16px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;


  &.md {

    width: 27px;
    height: 27px;
    font-size: 13px;

    i {
      margin-top: 2px;
    }
  }

  &.l2 {
    position: absolute;
    right: 0;
    margin: 12px;
  }

  &-inline {
    display: inline-block;
  }
}

.c-close {
  color: $secondary;
}

/////


.section-accordion-classes {
  background-color: #f9fafc;

  .section-heading {
    max-width: 100%;


    @include media-breakpoint-up(lg) {
      margin-bottom: 4rem;
    }
  }









  .c-open {
    display: none;
  }


  .c-close {
    display: inline-flex;
  }

  @include media-breakpoint-down(md) {
    .card-columns {
      column-count: 2;
    }
  }

  @include media-breakpoint-down(xs) {
    .card-columns {
      column-count: 1;
    }
  }
}




.post-side  {
  .accordion-action {
    text-align: right;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 2.2rem;
    margin-top: -10px;

    a {
      text-decoration: none;

      .c-open {
        display: none;
      }

      .c-close {
        display: inline-flex;
      }

      &.collapsed {
        .c-open {
          display: inline-flex;
        }

        .c-close {
          display: none;
        }

      }
    }
  }
}

.accordion-classes {

  .accordion-collapse {
    position: relative;
    background-color: #fff;
    box-shadow: #fff -50rem 0 0, #fff 50rem 0 0;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #f9fafc;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }

    @include media-breakpoint-down(md) {
      box-shadow: -30rem 0 0 #fff, 30rem 0 0 #fff;
    }
    @include media-breakpoint-down(xs) {
      box-shadow: -20rem 0 0 #fff, 20rem 0 0 #fff;
    }
  }
}


.accordion-item {

  .post-default {
    padding: 2.6rem 0;
    border-top: 1px solid #e2e2e2;
  }

  .post-title {
    a {
      text-decoration: none;
      color: inherit;
      transition: all .3s;

      &:hover {
        color: $primary;
      }
    }
  }

  .post-side {
    margin-left: 2em;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
  }

  &:first-child {


    .post-default {
      border-top: 0;
    }
  }
}


.post-accordion-collapse {
  padding: 2.5rem 0 1px;

  > h3 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;

    a {
      font-size: 14px;
      text-decoration: underline;
      color: #d23737;
      text-transform: none;

      font-family: $font-family-sans-serif;

      @include media-breakpoint-down(xs) {
        display: block;
        margin-top: 15px;
      }
    }
  }
}

.card-list {
  border: 0;
  padding: 0;

  .card-body {
    padding: 0;

    .card-title  + p {

    }

    ul li {
      margin: 3px 0;

      ul {
        margin-bottom: 5px;
      }
    }
  }

  .card-title {
    font-weight: 700;
    font-size: 20px;
    color: #464b56;
  }

  @include media-breakpoint-down(md) {
    font-size: 17px;
  }
}

/////






///// FAQ

.list-faq {

  li {
    padding: 1.6rem 0;
    border-top: 1px solid #eaeaea;

    h5 {
      font-size: 20px;
    }

    &:first-child {
      padding-top: 0;
      border: 0;
    }
  }
}

@include media-breakpoint-down(sm) {

  .post-side  {
    .accordion-action {
      text-align: left;
      margin: 0;
    }
  }

  .accordion-item {
    .post-side {
      margin-left: 0;
      flex-direction: column-reverse;
      min-height: 163px;
    }

    .price-lbl {
      width: 100%;
      text-align: left;
      font-size: 41px;
      margin-bottom: 16px;
      margin-top: 12px;

      span:first-child {
        margin-left: 0;
        font-size: 22px;

      }

      sup {
        font-size: 45%;
        top: -16px;
      }
    }

    .post-default {
      padding: 1.5rem 0;
      display: block;

      .post-img {
        float: left;
        margin-right: 10px;
        margin-bottom: 8px;
      }

      .post-body {
        p {
          clear: both;
        }
      }
    }

    .group-action-inline {
      float: right;
      max-width: 190px;

      .btn {
        width: 100%;
        min-width: 0;
        line-height: 1.5;
        text-align: left;
      }
    }

  }


  .card-training-plans {
    border: 1px solid $excel;
    border-radius: 0;
    padding: 0!important;
    margin: -1px!important;

    .card-title.sm {
      min-height: 0;
    }

    .card-price {
      margin-top: 0;
      margin-bottom: 0;
    }

    .card-footer {
      padding-bottom: 14px;
    }
  }

  .option-group-training {
    margin-bottom: 0;
  }

}