.card-package {
  border: 0;
  transition: transform .2s,box-shadow .2s;
  border-radius: 3px;
  overflow: hidden;
  color: #2f3542;
  background-color: transparent;

  .card-title {
    margin: 0;
    padding: 12px;
    min-height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    font-family: inherit;
    color: #fff;
    line-height: 1.1;
    text-transform: none;
    text-align: center;
    background-color: $primary;
  }

  span {
    font-weight: 400;
  }

  .card-footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 17px;
    background: transparent;
    padding-bottom: 34px;

    text-align: center;

    .btn {
      width: 100%;
      margin-bottom: 5px;
      max-width: 200px;
      min-width: 180px;

      svg {
        margin-right: 3px;
        margin-top: -3px;
      }
    }
  }

  .card-body {
    text-align: center;
    background-color: transparent;

    a {
      color: #2f3542;
    }
  }

  .card-text {
    min-height: 95px;
    text-align: center;
    line-height: 1.3;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px;


    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 120px;
      background: #efefef;
      display: block;
      margin: auto;
    }
  }

  .card-price {
    font-size: 54px;
    text-align: center;
    color: #fec03a;
    letter-spacing: -3px;
    margin: 22px 0 14px;

    @include media-breakpoint-down(lg) {
      font-size: 48px;
    }
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }



  &:hover {
    transform: scale(1.03)!important;
    box-shadow: rgba(0, 0, 0, 0.13) 0 20px 40px;
    position: relative;
    z-index: 1;
    background-color: lighten($primary, 6%);
    box-shadow: 0 20px 40px rgba(230, 182, 78, 0.47);

    .card-price {
      color: #2f3542;
    }


    .card-label {
      position: relative;
      background: rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      justify-content: flex-start;

      &:after {
        opacity: 1;
        margin-right: 10px;
      }

    }

    .card-text:after {
      background: #deaa3a;
    }

    .card-footer {
      .btn {
        border-color: #fff;
        background-color: #fff;
        color: #2f3542;

        &:hover {
          //color: #fff;
          border-color: #fff4db;
          background-color: #fff4db;
        }
      }
    }
  }


  @include media-breakpoint-down(md) {
    background-color: transparent;

    .card-footer,
    .card-body {
      background-color: #fff;
    }

    &:hover {
      color: $primary;

      .card-footer,
      .card-body {
        background-color: transparent;
        color: #fff;
      }
    }
  }

}


@mixin card_package_theme($color) {

  .card-title {
    background-color: $color;
  }

  .card-price {
    color: $color!important;
  }

  &:hover {
    background-color: $color;
    box-shadow: 0 20px 40px lighten($color, 40%);
    color: #fff;

    .card-text:after {
      background: #fff;
    }

    .card-price {
      color: #fff!important;
    }

    .card-footer,
    .card-body {
      background-color: lighten($color, 8%);
    }
  }
}


.card-package-excel {
  @include card_package_theme($color-excel);
}

.card-package-access {
  @include card_package_theme($color-access);
}

.card-package-outlook {
  @include card_package_theme($color-outlook);
}

.card-package-powerpoint {
  @include card_package_theme($color-powerpoint);
}

.card-package-project {
  @include card_package_theme($color-project);
}

.card-package-visio {
  @include card_package_theme($color-visio);
}

.card-package-word {
  @include card_package_theme($color-word);
}