.masterhead {
  position: relative;
  background-color: #2f2e2c;
  min-height: 720px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  overflow: hidden;

  h1 {
    color: #fff;
    line-height: 1.15;

  }

  &-copy {
    font-size: 18px;
    color: #fff;

    * {
      color: inherit;
    }

    h4 {
      margin-top: .8em;
      font-weight: 500;
      font-size: 28px;
      font-family: inherit;
      margin-bottom: 10px;
    }

    .btn {
      margin-top: 1em;
    }
  }

  .w-600 {

    max-width: 600px;
  }

  &-page {
    padding-top: 12em;
    padding-bottom: 6em;
    min-height: 700px;

    .breadcrumb {
      margin-bottom: 2.4em;
      color: #ffffff;

      .breadcrumb-item+.breadcrumb-item:before,
      a {
        color: #ffffff;
      }
    }


    .btn {
      margin-top: 1em;
    }
  }

  .paralax-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }


  @include media-breakpoint-down(sm) {
    min-height: 400px;
    padding-top: 10em;
    padding-bottom: 4em;


    &-copy {
      font-size: 15px;

      h4 {
        font-size: 24px;
        margin-top: 1em;
      }

      .btn {
        margin-top: 1.5em;
      }
    }

    &-page {

      .breadcrumb {
        margin-bottom: 1em;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    padding-bottom: 3em;
    min-height: 0;

    &-copy {

      h4 {
        font-size: 20px;
        margin-top: .5em;
      }
    }

  }

}

/////

////

.section-intro {
  background-color: #fafafa;
  background: url('../images/home/bg-ppl-skyline.jpg') no-repeat center bottom;
  background-size: cover;

  .section-heading {

    margin-bottom: 10px;
    text-align: left;

    h2 {

      span {
        font-size: 30px;
        font-family: inherit;
        display: block;
        text-transform: none;
        font-weight: 400;
        margin-top: 16px;

        font-family: $font-family-sans-serif;
      }
    }

    img {
      margin: 1em 0;
    }
  }


  .btn {
    margin-top: 1.2em;
  }



  @include media-breakpoint-up(md) {
    .section-heading {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        margin-top: -24px;
      }
    }
  }

  @include media-breakpoint-down(md) {

    .btn {
      margin-top: 1em;
    }


  }

  @include media-breakpoint-down(sm) {

    .section-heading {
      h2 {

        span {
          font-size: 26px;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {


    .btn {
      margin-top: .6em;
    }



    .section-heading {
      h2 {

        span {
          font-size: 22px;
        }
      }

      img {
        margin: 1em auto;
        display: block;
        max-width: 200px;
      }
    }
  }


}


////



.section-classes-dp {
  @include media-breakpoint-up(lg) {
    padding: 4.5em 0 2em;
  }
}

.card-classes {

  position: relative;
  width: 32.3333%;
  display: inline-block;
  text-align: center;
  min-height: 220px;
  display: inline-flex;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;

  transition: box-shadow .3s;

  .card-title {
    font-family: $headings-font-family;
    font-size: 22px;
    text-transform: uppercase;
    color: #464b56;
    margin: 0;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }


  .card-icon {
    margin-bottom: 22px;
    display: block;

    img {
      max-width: 145px;
      height: 50px;
    }
  }


  &:hover {
    position: relative;
    z-index: 6!important;
    cursor: pointer;
    background-color: #fff;

    overflow: visible;

    box-shadow: rgba(0, 0, 0, 0.09) 0 20px 40px;

    .card-dp {
      opacity: 1;
      z-index: 1;
      right: -312px;
    }

  }

  @include media-breakpoint-up(md) {
    &:nth-child(3) {
      .card-dp {
        right: auto;
        left: -280px;


        &:after,
        &:before {
          border-right: 0;
          border-left: 17px solid white;
          left: auto;
          right: -17px;
        }

        &:before {
          border-right: 0;
          border-left: 17px solid rgba(0,0,0,.1);
          right: -18px;
        }

      }
    }

    &:hover {

      &:nth-child(3) {
        .card-dp {
          left: -312px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    min-height: 160px;

    .card-title {
      font-size: 18px;
    }

    .card-icon img {
      max-width: 120px;
      height: 42px;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: left;
    min-height: 0;


    .card-body {
      display: flex;
      align-items: center;
      padding: 17px;
    }

    .card-icon {
      width: 46px;
      overflow: hidden;
      margin-right: 30px;
      margin-bottom: 0;

      img {
        height: 42px;
        max-width: 138px;
      }
    }

    .card-dp {
      right: -80px;
      width: 300px;
      top: 0;

      &:after, &:before {
        top: 1.4em;
      }
    }


    &:hover {
      .card-dp {
        opacity: 1;
        z-index: 1;
        right: 0;
        top: 0;
      }
    }

  }

  @include media-breakpoint-down(xs) {
    display: block;

    .card-icon {
      width: 30px;
      margin-right: 15px;

      img {
        max-width: 112px;
        height: 28px
      }
    }

    .card-dp {
      width: 100%;
      padding: 14px 20px;
      position: static;
      display: none;
      opacity: 1;


      &:before, &:after {
        display: none;
      }
    }


    &:active,
    &:hover {
      box-shadow: none;
      border: 0;

      .card-dp {
        display: block;
      }
    }
  }


}

.card-classes-list {
  text-align: center;
}

.card-dp {
  opacity: 0;
  z-index: -2;
  transition: opacity .2s ease, right .4s ease, left .4s ease, z-index .2s;

  position: absolute;
  background: #fff;
  text-align: left;
  padding: 27px 32px;
  border-radius: 5px;

  box-shadow: 0 20px 40px rgba(0,0,0,.1);
  right: -280px;
  width: 325px;
  border: 1px solid #eee;

  &:after,
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 17px solid white;
    border-bottom: 17px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -17px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &:before {
    border-right: 17px solid rgba(0,0,0,.1);
    left: -18px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 1.2;

    a {
      color: inherit;
      transition: all .3s;
      padding: 4px 0;
      display: block;
      color: inherit;
      transition: all .3s;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  &.lg {
    top: -35px;

    &:after,
    &:before {
      top: 6.5em;
      bottom: auto;
    }
  }
}


/////

.section-training-options {
  background-color: #f9fafc;

  @include media-breakpoint-down(md) {
    img {
      max-width: 350px;
    }
  }
}


.card-training {
  border: 0;
  transition: all .3s;
  border-radius: 3px;
  overflow: hidden;
  color: #2f3542;
  background-color: transparent;
  transition: transform .2s, box-shadow .2s;

  .card-title {
    height: 180px;
    background: #fec03a;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;

    font-weight: 700;
    line-height: 1.1;

    span {
      display: block;
      width: 100%;
    }
  }

  .card-body {
    background: #fff;
  }

  .card-footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 17px;
    background: #fff;

    .btn {
      width: 100%;
    }

  }


  .card-text {
    min-height: 95px;
    text-align: center;
    line-height: 1.3;
    position: relative;
    margin-bottom: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;

    p {
      margin: 0;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 120px;
      background: #efefef;
      display: block;
      margin: auto;
    }
  }

  .card-icon {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
      max-height: 62px;
      max-width: 160px;
    }
  }

  &:hover {
    background-color: #fff;
    transform: scale(1.02)!important;
    box-shadow: rgba(0, 0, 0, 0.13) 0 20px 40px;
    position: relative;
    z-index: 1;
  }


  @include media-breakpoint-down(md) {
    .card-title {
      height: 115px;
      font-size: 22px;
    }

    .card-text {
      font-size: 14px;
    }

    .card-icon {
      transform: scale(.8);
    }
  }
}



/////
.card-row-sm {

  @include media-breakpoint-down(md) {
    .card {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0;
      padding: 10px;
    }
  }


  @include media-breakpoint-down(xs) {
    .card {
      max-width: 100%;

      .card-title {
        height: auto;
        font-size: 20px;
      }

      .card-text {
        min-height: 0;
      }
    }
  }


  @include media-breakpoint-up(lg) {
    margin-right: -6px;
    margin-left: -6px;

    .card {
      margin-right: 6px;
      margin-left: 6px;
    }
  }
}

.row-sm {
  margin-right: -5px;
  margin-left: -5px;
  div[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

////


.section-group-training {
  @include media-breakpoint-down(sm) {
    .section-heading {
      text-align: left;
    }
  }
}

.form-group-training {
  max-width: 795px;
  margin-left: auto;
  margin-right: auto;

  h4 {
    margin-bottom: 1.4em;
    font-size: 23px;
  }

  textarea.form-control {
    height: 88px;
  }


  @include media-breakpoint-down(sm) {
    h4 {
      margin-bottom: 1.2em;
      font-size: 20px;
      text-align: left!important;
    }
  }
}


.form-actions {
  text-align: center;
  padding: 1em 0 0;

  .btn {
    min-width: 250px;
  }
}

.option-group-training {
  display: flex;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;

  margin-top: 3em;
  max-width: 750px;

  label {
    width: 33.3333%;
    padding: 0 1.5em;
  }

  svg {
    height: 63px;
  }


  h3 {
    margin: 0;
    font-size: 22px;
    position: relative;
    margin-top: 24px;
    letter-spacing: -.5px;
    font-family: $font-family-sans-serif;

    span {
      display: block;
      font-weight: 400;
      font-size: 15px;
      text-transform: uppercase;
      opacity: .6;
      margin-top: 7px;
    }

    input[type=radio] {
      position: absolute;
      display: none;

      + i {
        display: inline-block;
        width: 11px;
        height: 11px;
        background: #e0e0df;

        position: absolute;
        left: -6px;
        top: -3px;

        margin: 8px 0;
        border-radius: 100em;
      }

      &:checked {
        + i {
          background-color: #fec03a;
          box-shadow: rgba(254, 192, 58, 0.33) 0 0 0 3px;
        }
      }
    }



    input[type=checkbox] {

      + i {
        width: 14px;
        min-width: 15px;
        height: 15px;
        margin-top: 3px;
      }
    }

  }

  > h4 {
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2.4em;
  }

  &.inline-block {
    display: block;
    margin-top: 0;
    text-align: left;

    label {
      width: 100%;
      padding: 0;
      margin-bottom: 2em;


    }

    h3 {
      margin-top: 0;
    }

    .custom-checkbox {
      padding-left: 0;
    }
  }


  textarea.form-control {
    max-height: 88px;
  }

  .custom-checkbox input+i {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-top: 1px;

    &:after {
      width: 7px;
      height: 11px;
      border-width: 0 3px 3px 0;
    }
  }

  @include media-breakpoint-down(md) {

    h3 {
      font-size: 20px;
      margin-top: 8px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 1em;
    display: block;

    h4 {
      font-size: 20px;
      margin-top: 8px;
    }

    svg {
      display: none;
    }

    label {
      width: 100%;
    }

    &.inline-block {
      label {
        margin-bottom: 1em;
        padding-left: 0;
      }
    }
  }


  @include media-breakpoint-down(xs) {

    .option-group-training {
      margin-bottom: 0;
    }

    h4 {
      font-size: 18px;
    }

    label svg {
      transform: scale(.8);
    }

  }
}




/////

.section-location {
  background-color: #f9fafc;


  &-item {

    &:first-child {
      margin-bottom: 4px;
    }

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.section-location-info {
  width: 40%;
  min-width: 300px;
  padding: 2em;
  padding-top: 4em;
  margin-left: 14%;
  display: flex;
  align-items: center;

  h4 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 8px;
    margin-top: -1em;
    line-height: 1;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.3;

    li {
      padding: 8px 0;

      span {
        display: block;
        font-weight: 600;
        color: #222;
        font-size: 19px;
        font-weight: 500;

        transition: all .3s;
      }

      a {
        color: inherit;

        &:hover {
          color: $primary;
        }
      }
    }
  }


  @include media-breakpoint-down(lg) {
    margin-left: 5%;

    padding-top: 2em;
    padding-right: 1em;
  }
  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding-top: 0;

    h4 {
      padding-top: 1em;
      margin-bottom: 0;
      font-size: 24px;
    }



    ul {
      li {
        padding: 4px 0;
        font-size: 14px;
        span {
          font-size: 16px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 20px 20px;

  }
}

.section-location-maps {
  width: 100%;

  .embed-responsive-21by9:before {
    min-height: 375px;

    @media (min-width: 1900px) {
      padding-top: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    .embed-responsive-21by9:before {
      padding-top: 50%;
    }
  }

  @include media-breakpoint-down(md) {
    .embed-responsive-21by9:before {
      padding-top: 60%;
    }
  }


  @include media-breakpoint-down(sm) {
    .embed-responsive-21by9:before {
      padding-top: 30%;
      min-height: 0;
    }
  }

}

////

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 370px;
  background: #2f2b2b;

  background: url('../images/bg-hero-1.jpg') no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    min-height: 300px;

    img {
      max-width: 350px;
      width: 90%;
    }
  }

  @media (min-width: 1900px) {
    min-height: 440px;
  }
}

/// SELECT PLUGIN

.select2-container {
  font-size: 14px!important;
  width: 100%!important;
}
.select2-container--default {
  .select2-selection--multiple {
    border-color: #ced4da !important;

    .select2-selection__rendered {
      margin-bottom: -3px!important;
      padding-top: 3px!important;
    }
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #ced4da!important;
  padding-top: 0px!important;
}

.select2-container .select2-search--inline .select2-search__field {
  font-size: 15px!important;
  margin-left: 5px!important;
  margin-top: 6px!important;
  margin-bottom: 4px!important;
  position: relative!important;
  padding: 0!important;
}


.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da!important;
  height: 42px!important;
  padding: 6px 0!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 13px!important;color: #717579!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 8px!important;
  right: 7px!important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none!important;
}