.section-list-hotels {
  margin-top: 2.5em;
  margin-bottom: 8em;
}


.post-inline-block {
  border-top: 1px solid #efefef;
  padding-bottom: 2em;
  padding-top: 2em;

  .post-img {
    min-width: 430px;
    border: 10px solid #efeff7;
    margin-bottom: 1em;
    position: relative;

    &:after,
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: -10px;
      right: -10px;
    }

    &:after {
      bottom: -11px;
      border-top: 45px solid #efeff7;
      border-right: 45px solid transparent;
    }

    &:before {
      border-bottom: 45px solid #fff;
      border-left: 45px solid transparent;
    }

    img {
      max-width: 100%;
      display: block;
    }

    @include media-breakpoint-down(sm) {
      min-width: 0;
    }
  }


  .post-body {
    width: 100%;

    > *:last-child {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
      font-family: inherit;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 500;
    }

    @include media-breakpoint-up(md) {
      font-size: 18px;

      h2 {
        font-size: 25px;
      }
    }
  }



  .post-heading {
    border-bottom: 1px solid #efefef;
    margin-bottom: 12px;

    p {
      margin-bottom: 18px;
    }
  }

  &:first-child {
    border: 0;
    padding-top: 1em;
  }

  &:last-child {
    padding-bottom: .5em;
  }



  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2.5em;
    padding-top: 2.5em;

    .post-img {
      margin-bottom: 0;
      margin-right: 1.8em;
    }
  }
}



.card-schedule {
  border: 1px solid #e4e4e4;
  padding: 20px 22px;
  margin-bottom: 12px;
}

.sched-date {
  color: #464b56;
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}
