.section-content-l2 {
  background-image: url(../images/bg-hero-6.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 6em;
  padding-top: .8em;

  .section-footer {
    margin-top: 2em;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 7em;

    .section-footer {
      padding: 0 15px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 10em;
    padding-top: 1.5em;
  }
}


.card-default {
  padding: 1.8em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  margin-bottom: .6em;
  background-color: #fff;
  border: 1px solid #eeee;

  > h4 {
    margin-bottom: .4em;
  }

  .card-body {
    padding: 0;
  }


  @include media-breakpoint-up(md) {

    padding: 2em 2.2em;

    > h4 {
      margin-bottom: .8em;
    }
  }
}




.list-ablock {
  li {
    display: inline-block;
    margin-top: 4px;


    > * {
      display: block;
      padding: .7rem 1rem;
      border: 1px solid #ddd;
      line-height: 1;

      @include media-breakpoint-up(md) {
        padding: 1rem 1.3rem;
        font-size: 20px;
      }
    }
  }
}




.form-group-options {
  margin-top: 8px;
  margin-bottom: 20px;
  background: #fff;
  padding: 16px 22px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;


  > label {
    margin-bottom: 18px;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 22px;
  }


  .list-radio-checkbox {
    font-size: inherit;
  }


}