.step-item {
  background-color: #f9f9f9;
  padding: 40px;
  margin-bottom: 1px;

  > h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;

    span {
      font-weight: 400;
    }

  }

  &:nth-child(2n) {
    background-color: transparent;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px;
  }

}

.form-steps {
  margin-bottom: 4em;

  @include media-breakpoint-down(md) {

    margin-bottom: 2em;
  }
}

.list-radio-checkbox {
  font-weight: 500;

  > li {
    padding: 5px 0;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;

    &.row-2 {
      max-width: 600px;

      &:after {
        content: '';
        clear: both;
        display: table;
      }

      li {
        width: 50%;
        float: left;
      }
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 18px;
    font-weight: 400;

    &.row-3 {
      margin-left: -18px;
      margin-right: -18px;

      &:after {
        content: '';
        clear: both;
        display: table;
      }

      li {
        width: 33.333%;
        float: left;
        padding: 5px 18px;
      }
    }
  }
}

