.content-default {
  padding: 54px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 10px 20px;


  .tab-pane {
    > h5  {
      font-weight: 600;
      font-family: inherit;
      font-size: 24px;
      margin-bottom: 2rem;
      border-bottom: 1px solid #eee;
      padding-bottom: 1.2rem;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 35px;
  }

  @include media-breakpoint-down(sm) {
      padding: 20px 0;
      box-shadow: none;

    .tab-pane {
      > h5  {
        font-size: 20px;
      }
    }
  }

}



.post-default {
  padding: 20px 0;
  border-top: 1px solid #efefef;

  .post-body {
    width: 100%;
  }

  .post-img {
    width: 85px;
    min-width: 85px;
    max-height: 82px;
    margin-right: 30px;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 52px;
      min-width: 52px;
      margin-right: 25px;
    }

    @include media-breakpoint-down(sm) {
      width: 35px;
      min-width: 35px;
      margin-right: 20px;
    }
  }

  .profile-img-post {
    background-color: #ffc03a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;

    @include media-breakpoint-down(md) {
      width: 85px;
      min-width: 85px;
      margin-right: 25px;
    }
  }


  .post-body {
    strong,em {
      font-weight: 500;
    }

    > .post-link {

    }
  }

  .post-title {
    font-weight: 500;
    font-family: inherit;
    font-size: 24px;

    b {
      font-weight: 300;
      color: #808796;
      margin: 0 7px;
      font-size: 20px;
    }

    span {
      font-size: 14px;
      color: #808796;

      &.post-name {
        color: inherit;
        font-weight: 500;
        font-family: inherit;
        font-size: 21px;
      }

    }
  }


  &:first-child {
    padding-top: 0;
    border: 0;
  }

  @include media-breakpoint-up(sm) {

    display: flex;
    padding: 30px 0;
  }
}


.post-side {

  margin-left: 2em;

  @include media-breakpoint-down(xs) {
    margin-left: 0;
  }
}


.post-link {
  color: $primary;
  font-weight: 500;
  display: inline-block;
  transition: all .3s;
  line-height: 1.3;
  border: 0;
  padding: 0;


  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $primary;
    margin-top: -2px;
    transition: all .3s;
  }

  &:hover {
    color: #f3b634;
    text-decoration: none;

    &:after {
      box-shadow: 0 1px 0 0 $primary;
    }
  }

  &.disabled {
    pointer-events: none;
    text-decoration: none;
    cursor: none;
    color: inherit;
    opacity: .6;

    &:after {
      display: none;
    }
  }

  @media (max-width: 320px) {
    font-size: 15px;
  }
}


p {
  .post-link {
    text-transform: uppercase;
    font-size: 88%;
  }
}

.table-l2 {
  margin-top: 1em;
  margin-bottom: 2.5em;
  font-size: inherit;
  font-weight: 400;

  td,
  th {
    text-align: left;
    font-weight: inherit;
    font-size: inherit;

    line-height: 1.6;

    @include media-breakpoint-up(md) {

      padding: .8rem 2rem;
    }
  }

  td {
    width: auto;

  }

  th,
  td,
  tr {
    transition: all .1s;
  }

  &.table-hover tbody {
    tr:hover {
      color: inherit;
      background-color: #fdf5e1;

      th {
        background-color: transparent;
      }
    }
  }
}



////



.section-widget {
  background-color: #f9fafc;
  padding: 1.4rem 0;
  margin-bottom: 2px;

  @include media-breakpoint-up(md) {

    padding: 2rem 0;
  }
}

.widget-row {

  .widget {
    padding: 1.5rem 0;
    border-top: 1px solid #eee;

    p {
      margin-bottom: 0;
      line-height: 1.4;
    }

    &:first-child {
      border: 0;
    }

    li {
      line-height: 1.3;
      padding: 4px 0;

      a {
        text-decoration: underline;
      }
    }
  }

  .widget-title {
    font-size: 25px;
    color: #464b56;
  }

  @include media-breakpoint-up(md) {

    display: flex;
    margin: 0 -3rem;


    .widget {
      width: 33.3333%;
      border-top: 0;
      border-left: 2px solid #eee;
      padding: 0 3rem;

      &-col-2 {
        width: 66.6666%
      }
    }
  }
}

.media-full {
  position: relative;
  display: block;
  padding: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 15px;

  .wp-caption-text {
    margin-bottom: 0;
    padding: 6px 14px;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    background-color: #000;
    font-size: 13px;
    right: 8px;
    color: #fff;
  }

}

.post-meta-author {
  font-size: 16px;
  margin-top: 1em;
}


.section-author {

  display: flex;
  padding: 45px;
  margin-top: 4em;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0 12px 24px;
  border-radius: 6px;


  &:hover {

    .author-img {
      border-color: $primary;

      &:after {
        opacity: 1;
        margin: -7px;
      }
    }
  }
}

.author-img {
  position: relative;
  margin-right: 2.2em;
  width: 209px;
  height: 209px;
  border-radius: 100%;
  border: 5px solid #e4e4e4;

  img {
    border-radius: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -5px;
    border-radius: 100%;
    border: 5px solid #fec03a;
    transition: all .3s ease;
    opacity: 0;
  }
}

.author-info {
  h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .4;
    margin-bottom: 20px;
    font-family: inherit;
    margin-top: 1em;
  }

  h4 {
    margin-bottom: 4px;
    font-size: 35px;
  }

  .btn {
    min-width: 170px;
    margin-top: 9px;
  }
}