.section-content-l3 {
  background: url(../images/bg-hero-4.jpg) center bottom no-repeat;
  background-size: cover;

  .action-group {
    margin: 2.5em 0 2.5em;

    .btn {
      min-width: 270px;
      margin-top: 5px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 3em
    }

    @include media-breakpoint-down(xs) {
      margin: 2em 0 0;
    }
  }
}

.section-hero-contact {
  padding: 4em 0;
  font-size: 15px;

  h5 {
    margin-bottom: 0px;
  }

  p {
    margin: 0;
  }

  @include media-breakpoint-down(xs) {

    padding: 2.5em 0 1.5em;
  }
}


/// MODAL


.secion-room-hire {
  background-color: #fff;
  color: #808796;
  font-size: 14.5px;
  line-height: 1.4;

  .section-footer {
    margin-top: 5em;

    p {
      margin: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 3em;
    }
  }
}


.room-hire {

  &-map {
    border-bottom: 5px solid #fec03a;

    .embed-responsive-21by9:before {
      padding-top: 25%;

      @include media-breakpoint-down(xs) {
        padding-top: 56%;
      }
    }

    .embed-responsive-21by9.sm:before {


      @include media-breakpoint-up(sm) {
        padding-top: 21%;
      }
    }
  }



  &-heading {
    margin-bottom: 3em;


    .heading-l4 {
      margin-bottom: 1rem;

      h2 {
        margin: auto;
      }

      h4 {
        margin: 0;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 1.5em;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      margin-bottom: 4em;

      .heading-l4 {
        margin-bottom: 0;

        + * {
          border-left: 1px solid #000;
          margin-left: 2.5em;
          padding-left: 3em;
        }
      }
    }

  }

  &-content {
    padding: 1.5em;


    @include media-breakpoint-up(sm) {
      padding: 3em;
    }

    @include media-breakpoint-up(md) {

      padding: 4.5em 4em;
    }
  }


  &-body {


    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &-col{
    &:first-child {


      @include media-breakpoint-only(lg) {
        min-width: 47%;
        width: 47%;

        margin-right: 2em;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 5em;
        min-width: 42%;
        width: 42%;
      }
    }
  }
}


.room-hire-cdetails {
  li {
    padding: 7px 0;
    line-height: 1;
    font-weight: 500;
    position: relative;
    padding-left: 25px;

    i {
      min-width: 18px;
      text-align: center;
      margin-right: 4px;
      position: absolute;
      left: 0;
    }

    a {
      color: inherit;
      text-decoration: none;


      &:hover {
        span {
          color: $primary;
        }
      }
    }

  }
}

.post-inline-sm {
  margin-bottom: 1.3em;

  h4 {
    font-size: 17px;
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .post-img {
    margin-bottom: 10px;

    img {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;

    .post-img {
      margin-bottom: 0;
      min-width: 250px;
      width: 250px;
      margin-right: 1.5em;
    }
  }
}



.rh-block {
  line-height: inherit;
  margin-bottom: 3em;

  > h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }


  ul {
    li {
      margin: 4px 0;

      &:before {
        top: 4px;
      }
    }
  }


  *:last-child {
    margin-bottom: 0;
  }


  @include media-breakpoint-down(xs) {
    margin-bottom: 1.5em;

    > h4 {
      font-size: 18px;
    }
  }

}




.card-l2 {
  background: #fbfbfb;
  padding: 22px 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 4px;

  h5 {
    font-size: inherit;
    margin-bottom: 2px;
  }

  p {
    span {
      color: #2f3542;
    }
  }

  p:last-child {
    margin: 0;
  }

  &.lg {
    line-height: 1.7;
  }
}
