.section-thank-you.copy {
  text-align: center;
  padding: 5rem 0 6rem;

  .fa-check {
    color: $color-excel;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    margin-bottom: .8rem;
  }
}
