.section-cta-chat {
  background-image: url(../images/bg-hero-6b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-color: #fcfcfc;

  h4 {
    margin-top: .6rem;
  }

  @include media-breakpoint-up(sm) {
    h4 {
      margin-top: 1.2rem;
    }

    .btn {
      margin-top: 1.2rem;
    }

  }
}

.cta-call {
  line-height: 1.2;
  margin-bottom: 1em;

  .cta-phone {
    font-size: 22px;
  }


  @include media-breakpoint-up(sm) {
    margin-bottom: 0;

    text-align: right;
    float: right;

    .cta-phone {
      font-size: 30px;
    }
  }

}