.nav-timestable {
  display: flex;
  flex-wrap: inherit;

  img {
    max-width: 90px;
    max-height: 32px;
  }

  .nav-link {
    padding: 23px 0;
    border-radius: 5px;
    opacity: .7;
    transition: all .2s;
    filter: grayscale(100%);
    transition: all .3s;
    opacity: .7;

    &.active,
    &:hover {
      opacity: 1;
      filter: grayscale(0);
      opacity: 1;

      h4 {
        color: $headings-color;
      }
    }

    &:hover {

      cursor: pointer;
    }


    &.active {
      box-shadow: rgba(0, 0, 0, 0.1) 0 6px 12px;

    }


    @include media-breakpoint-down(md) {
      padding: 18px 14px;
    }

  }


  .nav-item {
    text-align: center;
    width: 100%;

    h4 {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 11px 0 0;
      color: #777777;

      span {
        font-weight: 400;
      }


      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}







//TABLE



.table-dark {
  background-color: #f4f4f7;
  color: #808796;
  line-height: 1.4;

  a {
    color: #808796;
    transition: none;

  }

  td,
  th,
  thead th {
    border-color: #fff;
    border-width: 3px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
  }

  td,
  th {
    padding: .5rem .4rem .4rem;
  }

  thead th {
    background-color: #fff;
  }

  th {
    background: #f9f9f9;
    text-align: left;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
  }

  td {
    width: 13%;
  }

  &.table-hover tbody {
    tr:hover {
      background-color: $primary;

      th {
        background-color: $primary;

        a {
          color: #fff;


          &:hover {
            color: #795e25;
          }
        }
      }
    }
  }
}

.tab-section {
  margin-bottom: 6em;

  .tab-content {
    box-shadow: rgba(0, 0, 0, 0.08) 0 10px 20px;

    @include media-breakpoint-down(sm) {
      padding: 20px 0!important;
      box-shadow: none;
    }

  }
}

.tab-content-timestable {

  padding: 2px 10px 0;
}