.social-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;

  li {
    padding: 3px;
    margin-right: 9px;

    a {
      opacity: .23;
      transition: all .3s;
      display: block;

      &:hover {
        opacity: .5;
      }
    }

    i {
      width: 30px;
      height: 30px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .icon-facebook {
    background-image: url('../images/icons/icon-facebook.svg');
  }

  .icon-twitter {
    background-image: url('../images/icons/icon-twitter.svg');
  }

  .icon-location {
    background-image: url('../images/icons/icon-location.svg');
  }
}



.main-footer {
  padding: 3.5em 0 2.8em;

  .widget-footer {
    margin-bottom: 35px;
  }

  @include media-breakpoint-up(md) {
    .row {
      -webkit-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .widget-footer {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(xs) {

    padding: 2.5em 0 1em;
  }

}

.footer-logo {
  width: 200px;
  margin-bottom: 18px;
}


.footer-menu {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 14px;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  li {
    line-height: 1;

    a {
      text-transform: uppercase;
      color: #808796;
      display: block;
      padding: 7px 0;
      text-decoration: none;
      transition: all .3s;
      font-weight: 500;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }


}

.copyright {
  text-transform: uppercase;
  font-size: 14px;
}

.widget-title {
  font-weight: 500;
  font-size: 22px;
  font-family: $font-family-sans-serif
}

.menu-row {

  @include media-breakpoint-up(sm) {

    display: flex;

    ul {
      max-width: 354px;

      &:first-child {
        padding-right: 3rem;
        border-right: 1px solid #dddd;
        margin-right: 3rem;
      }

    }
  }
}


/////

.card-faq-list {
  margin-right: -12px;
  margin-left: -12px;

  .card {
    position: relative;

    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 1.2rem;
    background-color: #f9f9f9;
    border: 0;
    font-size: 15px;

    .card-title {
      font-size: 18px;
      font-weight: 600;
      min-height: 52px;
      line-height: 1.3;
      display: flex;
      padding: 20px;
      margin: 0;

      svg {
        font-size: 32px;
        margin-right: 13px;
      }
    }


    .card-body {
      padding: 0 22px;
      margin-bottom: 26px;

      *:last-child {
        margin-bottom: 0;
      }

      p {
        position: relative;
        padding-left: 34px;

        &:before {
          content: '';
          display: inline-block;
          width: 2px;
          height: 100%;
          background: $primary;
          position: absolute;
          left: 6px;
        }
      }
    }

    &:after,
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:after {
      bottom: -1px;
      border-top: 30px solid #e6e6e6;
      border-right: 30px solid transparent;
    }

    &:before {
      border-bottom: 30px solid #fff;
      border-left: 30px solid transparent;
    }
  }
}

