.navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  transition: height .3s;
  height: 105px;

  .navbar-toggler {
    color: $primary;


    &.collapsed {
      color: #fff;
    }
  }

  .navbar-nav  {

    .nav-item {

      .nav-link {

        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        padding: .8rem 1rem;

        &:hover {
          color: $primary;
        }
      }

      @include media-breakpoint-up(lg) {

        > .dropdown-toggle:after {
          display: none;
        }

        .nav-link {
          padding: .3rem;
          padding-right: .8rem;
          padding-left: .8rem;
        }

        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }

      @include media-breakpoint-up(xl) {

        .nav-link {
          padding-right: 1rem;
          padding-left: 1rem;
        }



      }
    }
  }

  .ml-auto {
    text-align: right;


    @include media-breakpoint-down(md) {
      padding: 20px 0 14px;

      text-align: inherit;
    }
  }

  .dropdown-menu {
    margin-bottom: 10px;
    padding: 0;
    border-radius: 0;
    border: 0;

    .dropdown-item {
      &:after {
        background: url('https://api.iconify.design/simple-line-icons:arrow-right.svg?color=%23ffffff') no-repeat center center / contain;
        border: 0;
        width: 12px;
        height: 12px;
        float: right;
        margin: 7px 0;
        margin-right: -12px;

        opacity: 0;
      }

      &:hover:after {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(lg) {


      li:hover > .dropdown-item {
        color: #fff!important;
        background-color: $primary;


        &:after {
          opacity: 1;
        }


      }
    }
  }

  .dropdown-item {
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: .4rem 1rem;

    transition: all .2s;
  }

  .mobile-nav-right {
    display: flex;
    align-items: center;

    .nav-phone {
      display: none;
      font-size: 16px;
      margin-right: 15px;
    }


    @include media-breakpoint-down(xs) {
      .nav-phone {
        span {
          display: none!important
        }

      }

    }
  }

  /// DROPDOWN

  .scrolled & {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 78px;

    .navbar-top {

      @include media-breakpoint-up(lg) {
        overflow: hidden;
        position: absolute;
        height: 0;
      }
    }
  }

  /// DROPDOWN END


  @include media-breakpoint-up(lg) {
    overflow: hidden;

    &:hover {
      overflow: visible;
    }


    .dropdown-menu {
      opacity: 0;
      z-index: -1;
      display: block;
      transition: all .3s;
      margin-top: 30px;
      min-width: 200px;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.14) 0 3px 16px;

      &:before {
        content: "";
        position: absolute;
        left: 1em;
        right: 1em;
        height: 100%;
        background: white;
        top: 0;
      }

    }

    .dropdown-item {
      padding: .35rem 1.8rem;

      &:hover {
        color: #fff!important;
        background-color: $primary;
      }

      &:active,
      &:focus {
        background-color: $primary;
        color: #fff;
      }
    }



    li.dropdown {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 25px;
        bottom: -25px;
      }


      &:hover {
        > .dropdown-menu {
          margin-top: 24px;
          display: block;
          opacity: 1;
          z-index: 999999;
        }
      }

      > .dropdown-menu {
        li.dropdown {

          .dropdown-menu {
            left: 180px;
            top: 0;
            margin-top: 0;
          }

          &:hover {
            > .dropdown-menu {
              left: 200px;
              display: block;
              opacity: 1;
              z-index: 999999;

            }
          }

        }
      }
    }

  }

  @include media-breakpoint-down(lg) {


    .container {
      max-width: 100%;
    }


  }

  @include media-breakpoint-down(md) {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #23262f;
    height: auto!important;

    .ml-auto {
      padding: 20px 0 14px;
    }

    .navbar-collapse {
      .nav-phone {
        display: none;
      }
    }

    .mobile-nav-right {

      .nav-phone {
        display: block;
      }
    }
    .nav-item-home{
      display: none;
    }
  }


}


.navbar-brand {
  img {
    width: 190px;
  }

 @media (max-width: 320px) {
   img {
     width: 164px;
   }
 }
}


.nav-phone {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 800!important;
  font-family: $headings-font-family;
  color: $primary;
  line-height: 1;
  font-size: 20px;
  letter-spacing: -.8px;
  transition: all .3s;

  svg {
    font-size: 20px;
    margin: 0 4px;
    position: relative;
    top: -2px;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}





/////

body {
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
  overflow-x: hidden;

  .navbar-main {
    transition: all 0.3s ease-in-out;
    left: 0;
  }

  &.open-menu {
    left: -250px;

    .navbar-main {
      left: -250px;
      right: 250px;
    }

    .navbar-js-holder {
      right: 0;
    }
  }
}

.nav-cart {
  position: relative;
  font-size: 20px;
  line-height: 1;
  color: #fff!important;
  margin-left: .7rem;
  top: -3px;

  .badge {
    border-radius: 100%;
    position: absolute;
    right: -8px;
    font-size: 11px;
    min-width: 16px;
  }
}

.dropdown-toggle:after {
  opacity: 1;
}


.side-nav-logo {
  width: 56px;
  display: block;

  img {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}



.nav-link-back {
  @include media-breakpoint-up(lg) {
    display: none!important;
  }
}



@include media-breakpoint-down(md) {
  .navbar-js-holder {
    transition: all 0.3s ease-in-out;
    background: #2f3543;
    position: fixed;
    height: 100%;
    width: 250px;
    right: -250px;
    top: 0;
  }



  .navbar-main {
    .ml-auto {
      padding: 15px 20px 16px;
      border-bottom: 1px solid #373d4a;

      .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a.nav-phone {
          display: none;
        }
      }
    }

    .navbar-nav {
      .nav-item .nav-link,
      .nav-item a {
        display: block;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0;
        padding: .85rem 1.4rem;
        color: #fff;
      }

      .nav-link-back {
        > a {
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          padding: .6rem 1.3rem .6rem;
          background: #22252f;
        }
      }


      .dropdown-toggle:after {
        background: url('https://api.iconify.design/simple-line-icons:arrow-right.svg?color=%23ffffff') no-repeat center center / contain;
        border: 0;
        width: 12px;
        height: 12px;
        float: right;
        margin: 6px 0;
        margin-right: -6px;
        opacity: 1;
      }

      .dropdown-menu {
        position: absolute;
        list-style: none;
        width: 100%;
        z-index: 99999999999999;
        top: 0;
        bottom: 0;
        left: 100%;
        height: 100%;
        background-color: #2f3543;
        margin-top: 0;

        .dropdown {
          position: static!important;
        }


        &.show {
          left: 0;
        }
      }
    }

    .nav-cart {
      margin-right: 10px;
      font-size: 25px;
    }
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: transparent;
  }

  .dropdown-toggle:after {
    float: right;
  }

  .nav-item.dropdown {
    position: static;
  }

  .navbar-main .navbar-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.7rem;
    padding-top: .6rem;
  }
}


.hamburger-menu {
  transition: all .3s ease;
  display: block;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 25px;
  cursor: pointer;
  right: 0;
  z-index: 99999999;
  position: relative;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  span {
    text-transform: uppercase;
    left: calc(-100% + -5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #FFF;
  }


  .bar {
    position: relative;
    transform: translateY(25px);
    transition: all 0.1s ease;
    background: #ffffff;
    top: -14px;


    &,
    &:after,
    &:before {
      width: 30px;
      height: 2px;
    }

    &:before,
    &:after {
      position: absolute;
      background: #ffffff;
      content: '';
      left: 0;
      border-radius: 5px;
    }

    &:before {
      bottom: 10px;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:after {
      top: 10px;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }



    &.animate {
      background: rgba(255, 255, 255, 0);

      &:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      &:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}
