.page-single-content {
  margin-top: 105px;
  padding: 1px 0;

  @include media-breakpoint-down(md) {
    margin-top: 75px;
  }
  @media (max-width: 320px) {
    margin-top: 68px;
  }
}


.section {
  padding: 2.5em 0;

  &-body {
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }


  .inner-section-nobg & {
    background: none!important;
  }

  @include media-breakpoint-down(md) {
    padding: 2em 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 1.5em 0;
  }
}

.section-heading {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  max-width: 970px;
  line-height: 1.6;

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 400;
  }

  &.align-left {
    text-align: left;
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 2em;

    h3 {
      font-size: 25px;
    }
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 1em;

    h3 {
      font-size: 20px;
    }
  }
}

////

@mixin list-bullets {
  padding: 0;
  padding-left: 26px;
  margin-bottom: 1rem;

  > li {
    position: relative;
    margin: 10px 0;

    &:before {
      content: '';
      position: absolute;
      left: -22px;
      top: 5px;
      width: 9px;
      min-width: 9px;
      height: 9px;
      display: inline-block;
      background-color: #fec03a;
      box-shadow: 0 0 0 3px rgba(254,192,58,.42);
      border-radius: 100%;
      margin-right: 12px;
      margin-top: 3px;
    }

    ul {
      > li {
        &:before {
          box-shadow: 0 0 0 1px $primary inset, 0 0 0 2px $primary;
          background-color: transparent;
        }
      }
    }
  }

  &.inline {
    > li {
      &:before {
        position: relative;
        left: 0;
        display: inline-block;
        top: -1px;

      }
    }
  }
}

.list-bullets {
  @include list-bullets;
}

.copy {
  line-height: 1.6;
  color: #808796;

  a:not(.btn) {
    font-weight: 500;
    transition: all .3s;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {

    @include list-bullets;
  }

  &.copy-ul-sm {
    ul {

      > li {
        margin: 2px 0;
      }

    }
  }

}

////


.line-separator {
  width: 100%;
  max-width: 460px;
  height: 1px;
  background-color: #e4e4e4;
  display: block;
  margin: 2em auto;
}


///////

.owl-nav {


}


.owl-instructors,
.owl-theme {
  .owl-nav{

    &.disabled{

      & +.owl-dots {
        margin-top: 20px;
        margin-bottom: -10px;
      }
    }

    button.owl-next,
    button.owl-prev{
      transition: $transition-base;
    }


    button.disabled {
      opacity: 0!important;
    }
  }

  .owl-dots {
    .owl-dot span {
      background-color: #dae1ec;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
      background-color: #fec03a;
      box-shadow: rgba(254, 192, 58, 0.42) 0 0 0 3px;
    }
  }
}

.owl-nav-dark .owl-dots .owl-dot span {
  background-color: #464b56;
}


///

.owl-carousel .owl-stage {
  margin-left: auto;
  margin-right: auto;
}

//// MODAL DEFAULT OVERIDE

.modal-content {
  background-color: #f9fafc;
  border: 0;
  border-radius: 0;
}

button.close {
  position: absolute;
  right: 0;
  padding: 21px 30px;
  font-size: 48px;
  z-index: 9;
  line-height: 1;
  font-weight: 500;

  @include media-breakpoint-down(xs) {
    padding: 8px 18px;
    font-size: 45px;
  }
}


.modal-default {
  .modal-content {
    background-color: #fff;
  }

  .modal-body {
    padding: 2rem 2.2rem;

    @include media-breakpoint-up(xl) {

      padding: 3rem 4rem 3rem;
    }
  }
}


.modal-body {
  padding: 5rem 5rem 3rem;

  .footer-note {
    margin-top: 1rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 5rem 2rem 2rem;
  }
  @include media-breakpoint-down(md) {
    padding: 3rem 4rem 3rem;
  }

  @include media-breakpoint-down(xs) {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1170px;
  }
}

// BREADCRUMBS

.breadcrumb-holder {
  position: absolute;
  top: 105px;
  z-index: 1;
  left: 0;
  right: 0;

  @include media-breakpoint-down(md) {
    top: 78px;
  }
}


.breadcrumb {
  background-color: transparent;
  padding: 35px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;

  a {
    color: #bcbcbc;

    &:hover {
      color: $primary;
    }
  }


  .breadcrumb-item {
    & +.breadcrumb-item:before {
      content: ">";
      color: #44484c;
    }

    &:last-child {

      a {
        pointer-events: none;
      }
    }
  }


  &.inverted {

    .breadcrumb-item+.breadcrumb-item:before {
      color: #bcbcbc;
    }

    .breadcrumb-item:last-child {
      a {
        color: #fff;
      }
    }

  }

  @include media-breakpoint-down(md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}



//


.page-intro {
  margin-bottom: 1em;


  @include media-breakpoint-up(md) {
    margin-bottom: 1.5em;

    &-row {
      display: flex;
      align-items: start;

      .intro-copy {
        margin-right: 1em;
      }
    }


    &-row-ribbon { // guarantee.php

      .intro-img {
        margin-left: 2em;
      }

      display: flex;
    }


  }






}


.page-copy {

  strong {
    color: #4f5258;
    font-weight: 500;
  }

  img {
    max-width: 100%;
  }

  a {
    transition: all .3s;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  h5 {
    font-family: inherit;
    font-weight: 400;
    font-size: 25px;
  }

  p,
  ul,
  ol {
    margin-bottom: 1.2rem;
  }

  ol {
    padding-left: 18px;
  }
}

.intro-icon-r {
  max-width: 55px;
  margin-bottom: 18px;

  img {
    max-width: 100%;
  }

  @include media-breakpoint-up(lg) {
    margin-top: .25rem;
    margin-left: 1rem;
    margin-bottom: 4em;

    max-width: 85px;
    float: right;

  }
}


.intro-copy {
  font-size: 18px;
  width: 100%;

  h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 15px;

  }

  h5 {
    line-height: 1.3;
    font-weight: normal;
    font-family: inherit;

    a {
      color: inherit;
      text-decoration: underline;
      transition: all .3s;

      &:hover {
        color: $primary;
      }
    }
  }

  ul, p {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(md) {
    font-size: 15px;

    h3 {
      font-size: 24px;
    }

    ul, p {
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(sm) {
    h3 {
      font-size: 20px;
    }
  }
}

.copy-sm {
  h4 {
    font-size: 25px;
  }

  p, ul {
    font-size: 15px;
    margin-bottom: 1.5rem;
  }
}

.page-footnote {
  border-top: 1px solid #eaeaea;
  padding-top: 3em;
  padding-bottom: 3em;

  h3 {
    font-weight: 400;
    font-family: inherit;
    font-size: 30px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}


///

.list-inline {
  li {
    display: inline-block;

    + li:before {
      content: '|';
      font-weight: 300;
      padding: 0 22px 0 20px;


    }

    a {
      color: inherit;


      &:hover {
        color: $primary;
      }
    }
  }

  @include media-breakpoint-down(md) {

    li + li:before {
      padding: 0 12px 0 9px;
    }

  }

  @include media-breakpoint-down(sm) {

    li {
      display: block;

      + li:before {
        display: none;
      }
    }
  }
}



///

.section-note,
.card-copy {
  margin-top: 2em;
  background: #f9fafc;
  padding: 10px;
  font-size: 14px;
  text-align: center;

  > *:last-child {
    margin: 0;
  }
}


.section-note {
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 0;

  p {
    font-size: 14px;
  }

  @include media-breakpoint-up(sm) {

  }
}

/// STAR RATING



//// Rating


.star-rate {
  display: inline-block;
  width: 350px;
  overflow: hidden;
  display: block;
  position: relative;

  span {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  img {
    min-width: 350px;
    display: block;
    max-width: none;
  }


  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-image: url(../images/icons/icon-five-stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;

    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;

    left: 1px;

  }




  &-5_0 {
    > span {
      width: 100%;
    }
  }

  &-4_9 {
    > span {
      width: 97%;
    }
  }

  &-4_8 {
    > span {
      width: 96%;
    }
  }


  &-4_7 {
    > span {
      width: 94.8%;
    }
  }


  &-4_6 {
    > span {
      width: 93.2%;
    }
  }

  &-4_5 {
    > span {
      width: 90.5%;
    }
  }


  &-4_4 {
    > span {
      width: 89.5%;
    }
  }

  &-4_3 {
    > span {
      width: 89%;
    }
  }

  &-4_2 {
    > span {
      width: 87.5%;
    }
  }

  &-4_1 {
    > span {
      width: 85.5%;
    }
  }

  &-4_0 {
    > span {
      width: 80%;
    }
  }

  @include media-breakpoint-down(md) {
    width: 280px;

    img {
      display: block;
      min-width: 280px;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 200px;

    img {
      display: block;
      min-width: 200px;
    }

  }
}


.star-rate-sm {
  width: 120px;


  &:after {
    left: 0;

  }

  img {
    min-width: 120px;
  }

}


////////

.rating-l2 {
  max-width: 100%;
  width: 225px;
  min-width: 225px;
  height: 188px;

  background-image: url(../images/icons/icon-rate-holder.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  h2 {
    margin-top: 24px;

    span {
      font-size: 18px;
      display: block;
      font-family: Poppins,sans-serif;
      font-weight: 500;
      color: #808796;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    margin-top: 3em;
    margin-bottom: 0;

    width: 210px;
    min-width: 210px;
    height: 175px;
    padding-top: 4px;
  }

}

.rating-l3 {
  margin-top: .6em;
  text-align: right;

  @include media-breakpoint-down(xs) {
    text-align: left;
  }
}

.rating-l2 {
  text-align: center;
  line-height: 1;

  .star-rate {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }


   p {
     font-size: 13px;
     text-transform: uppercase;
     line-height: 1.2;
     margin: 0;
   }
}

